In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from pathlib import Path

## Import each csv file and do exploratroy analysis

In [5]:
# import csv files
app_train = pd.read_csv(Path("../Data/home_credit_default_risk/application_train.csv"), encoding='unicode_escape')
bureau_balance = pd.read_csv(Path("../Data/home_credit_default_risk/bureau_balance.csv"), encoding='unicode_escape')
bureau = pd.read_csv(Path("../Data/home_credit_default_risk/bureau.csv"), encoding='unicode_escape')
cc_balance = pd.read_csv(Path("../Data/home_credit_default_risk/credit_card_balance.csv"), encoding='unicode_escape')
home_credit = pd.read_csv(Path("../Data/home_credit_default_risk/HomeCredit_columns_description.csv"), encoding='unicode_escape')
installment = pd.read_csv(Path("../Data/home_credit_default_risk/installments_payments.csv"), encoding='unicode_escape')
pos_cash = pd.read_csv(Path("../Data/home_credit_default_risk/POS_CASH_balance.csv"), encoding='unicode_escape')
previous_app = pd.read_csv(Path("../Data/home_credit_default_risk/previous_application.csv"), encoding='unicode_escape')
app_test = pd.read_csv(Path("../Data/home_credit_default_risk/previous_application.csv"), encoding='unicode_escape')

In [6]:
def obtain_nulls(dataframe):
    null_values = []
    for i in dataframe:
        if dataframe[i].isnull().sum() > dataframe.shape[0]*.10:
            null_values.append(i)
    return null_values

In [7]:
app_nulls = obtain_nulls(app_train)
bureau_balance_nulls = obtain_nulls(bureau_balance)
bureau_nulls = obtain_nulls(bureau)
cc_balance_nulls = obtain_nulls(cc_balance)
home_credit_nulls = obtain_nulls(home_credit)
installment_nulls = obtain_nulls(installment)
pos_cash_nulls = obtain_nulls(pos_cash)
previous_app_nulls = obtain_nulls(previous_app)

In [8]:
app_train = app_train.drop(columns = app_nulls)
bureau_balance = bureau_balance.drop(columns = bureau_balance_nulls)
bureau = bureau.drop(columns = bureau_nulls)
cc_balance = cc_balance.drop(columns = cc_balance_nulls)
home_credit = home_credit.drop(columns = home_credit_nulls)
installment = installment.drop(columns = installment_nulls)
pos_cash = pos_cash.drop(columns = pos_cash_nulls)
previous_app = previous_app.drop(columns = previous_app_nulls)

app_train = app_train.loc[:3999]
bureau_balance = bureau_balance.loc[:3999]
bureau = bureau.loc[:3999]
cc_balance = cc_balance.loc[:3999]
home_credit = home_credit.loc[:3999]
installment = installment.loc[:3999]
pos_cash = pos_cash.loc[:3999]
previous_app = previous_app.loc[:3999]

In [9]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0,0,0,0,0,0

In [10]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [11]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE
0,215354,5714462,Closed,currency 1,-497,0,-153.0,0,91323.0,0.0,Consumer credit,-131
1,215354,5714463,Active,currency 1,-208,0,1075.0,0,225000.0,0.0,Credit card,-20
2,215354,5714464,Active,currency 1,-203,0,528.0,0,464323.5,0.0,Consumer credit,-16
3,215354,5714465,Active,currency 1,-203,0,NaN,0,90000.0,0.0,Credit card,-16
4,215354,5714466,Active,currency 1,-629,0,1197.0,0,2700000.0,0.0,Consumer credit,-21

In [12]:
cc_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,877.5,1700.325,1800.0,0.000,0.000,0.000,1,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,2250.0,60175.080,64875.555,64875.555,1,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,2250.000,2250.0,26926.425,31460.085,31460.085,0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,11795.760,11925.0,224949.285,233048.970,233048.970,1,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,11547.0,22924.890,27000.0,443044.395,453919.455,453919.455,1,101.0,Active,0,0

In [13]:
home_credit.head()

,Unnamed: 0,Table,Row,Description
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car

In [14]:
installment.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [15]:
pos_cash.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [16]:
previous_app.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_APPLICATION,AMT_CREDIT,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,NAME_CASH_LOAN_PURPOSE,...,CODE_REJECT_REASON,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,NAME_YIELD_GROUP,PRODUCT_COMBINATION
0,2030495,271877,Consumer loans,17145.0,17145.0,SATURDAY,15,Y,1,XAP,...,XAP,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,middle,POS mobile with interest
1,2802425,108129,Cash loans,607500.0,679671.0,THURSDAY,11,Y,1,XNA,...,XAP,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,low_action,Cash X-Sell: low
2,2523466,122040,Cash loans,112500.0,136444.5,TUESDAY,11,Y,1,XNA,...,XAP,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,high,Cash X-Sell: high
3,2819243,176158,Cash loans,450000.0,470790.0,MONDAY,7,Y,1,XNA,...,XAP,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,middle,Cash X-Sell: middle
4,1784265,202054,Cash loans,337500.0,404055.0,THURSDAY,9,Y,1,Repairs,...,HC,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,high,Cash Street: high

In [17]:
cc_balance["SK_ID_PREV"].isin(installment["SK_ID_PREV"]).sum()

3162570

In [18]:
installment["SK_ID_CURR"].isin(app_train["SK_ID_CURR"]).sum()

11591592

In [19]:
pos_cash["SK_ID_CURR"].isin(app_train["SK_ID_CURR"]).sum()

8543375

In [20]:
previous_app["SK_ID_CURR"].isin(app_train["SK_ID_CURR"]).sum()

1413701

In [21]:
cc_balance["SK_ID_CURR"].isin(app_train["SK_ID_CURR"]).sum()

3227965

In [22]:
app_train["SK_ID_CURR"].duplicated().sum()

0

In [23]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0,0,0,0,0,0

In [24]:
app_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.00000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.000007,0.003525,0.002936,0.00121,0.009928,0.000267,0.008130,0.000595,0.000507,0.000335
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.002550,0.059268,0.054110,0.03476,0.099144,0.016327,0.089798,0.024387,0.022518,0.018299
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
app_train.isnull().sum()

SK_ID_CURR            0
TARGET                0
NAME_CONTRACT_TYPE    0
CODE_GENDER           0
FLAG_OWN_CAR          0
                     ..
FLAG_DOCUMENT_17      0
FLAG_DOCUMENT_18      0
FLAG_DOCUMENT_19      0
FLAG_DOCUMENT_20      0
FLAG_DOCUMENT_21      0
Length: 65, dtype: int64

In [26]:
app_train.nunique()

SK_ID_CURR            307511
TARGET                     2
NAME_CONTRACT_TYPE         2
CODE_GENDER                3
FLAG_OWN_CAR               2
                       ...
FLAG_DOCUMENT_17           2
FLAG_DOCUMENT_18           2
FLAG_DOCUMENT_19           2
FLAG_DOCUMENT_20           2
FLAG_DOCUMENT_21           2
Length: 65, dtype: int64

In [27]:
app_train.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
307506    False
307507    False
307508    False
307509    False
307510    False
Length: 307511, dtype: bool

In [28]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [29]:
bureau_balance.isnull().sum()

SK_ID_BUREAU      0
MONTHS_BALANCE    0
STATUS            0
dtype: int64

In [30]:
bureau_balance["SK_ID_BUREAU"].duplicated().sum()

26482530

In [31]:
bureau_balance.drop_duplicates(subset = ["SK_ID_BUREAU"], inplace=True)

In [32]:
bureau_balance.shape

(817395, 3)

In [33]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE
0,215354,5714462,Closed,currency 1,-497,0,-153.0,0,91323.0,0.0,Consumer credit,-131
1,215354,5714463,Active,currency 1,-208,0,1075.0,0,225000.0,0.0,Credit card,-20
2,215354,5714464,Active,currency 1,-203,0,528.0,0,464323.5,0.0,Consumer credit,-16
3,215354,5714465,Active,currency 1,-203,0,NaN,0,90000.0,0.0,Credit card,-16
4,215354,5714466,Active,currency 1,-629,0,1197.0,0,2700000.0,0.0,Consumer credit,-21

In [34]:
bureau.isnull().sum()

SK_ID_CURR                     0
SK_ID_BUREAU                   0
CREDIT_ACTIVE                  0
CREDIT_CURRENCY                0
DAYS_CREDIT                    0
CREDIT_DAY_OVERDUE             0
DAYS_CREDIT_ENDDATE       105553
CNT_CREDIT_PROLONG             0
AMT_CREDIT_SUM                13
AMT_CREDIT_SUM_OVERDUE         0
CREDIT_TYPE                    0
DAYS_CREDIT_UPDATE             0
dtype: int64

In [35]:
bureau["SK_ID_CURR"].duplicated().sum()

1410617

In [36]:
bureau.drop_duplicates(subset = ["SK_ID_CURR"], inplace=True)

In [37]:
bureau.dropna(inplace = True)

In [38]:
bureau.shape

(297566, 12)

In [39]:
app_train.shape

(307511, 65)

In [40]:
# merge the 3 dataframes
merge_1 = app_train.merge(bureau, how = "left", on = "SK_ID_CURR")

In [41]:
merge_1.shape

(307511, 76)

In [42]:
merge_1.isnull().sum()

SK_ID_CURR                    0
TARGET                        0
NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
                          ...
CNT_CREDIT_PROLONG        51217
AMT_CREDIT_SUM            51217
AMT_CREDIT_SUM_OVERDUE    51217
CREDIT_TYPE               51217
DAYS_CREDIT_UPDATE        51217
Length: 76, dtype: int64

In [43]:
merge_1["SK_ID_CURR"].duplicated().sum()

0

In [44]:
bureau["SK_ID_CURR"].value_counts()

215354    1
291281    1
405521    1
455138    1
140639    1
         ..
208120    1
376463    1
418928    1
329282    1
235871    1
Name: SK_ID_CURR, Length: 297566, dtype: int64

In [45]:
bureau["SK_ID_CURR"].duplicated().sum()

0

In [46]:
bureau.nunique()

SK_ID_CURR                297566
SK_ID_BUREAU              297566
CREDIT_ACTIVE                  4
CREDIT_CURRENCY                4
DAYS_CREDIT                 2923
CREDIT_DAY_OVERDUE           310
DAYS_CREDIT_ENDDATE        10077
CNT_CREDIT_PROLONG             7
AMT_CREDIT_SUM             80705
AMT_CREDIT_SUM_OVERDUE       374
CREDIT_TYPE                   12
DAYS_CREDIT_UPDATE          2902
dtype: int64

In [47]:
merge_2 = merge_1.merge(bureau_balance, how = "left", on = "SK_ID_BUREAU")

In [48]:
merge_2.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,MONTHS_BALANCE,STATUS
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,-1125.0,0.0,-1038.0,0.0,40761.0,0.0,Credit card,-1038.0,-15.0,C
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,-2586.0,0.0,-2434.0,0.0,22248.0,0.0,Consumer credit,-2131.0,NaN,NaN
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,-1326.0,0.0,-595.0,0.0,94500.0,0.0,Consumer credit,-682.0,NaN,NaN
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,-1149.0,0.0,-783.0,0.0,146250.0,0.0,Consumer credit,-783.0,NaN,NaN

In [49]:
merge_2.isnull().sum()

SK_ID_CURR                     0
TARGET                         0
NAME_CONTRACT_TYPE             0
CODE_GENDER                    0
FLAG_OWN_CAR                   0
                           ...
AMT_CREDIT_SUM_OVERDUE     51217
CREDIT_TYPE                51217
DAYS_CREDIT_UPDATE         51217
MONTHS_BALANCE            218069
STATUS                    218069
Length: 78, dtype: int64

In [50]:
# dropping the dupplicates for SKIDBUREU will cause the df to be 7 rows and not 4k, after this merge  the rows are the same length

In [51]:
merge_2.shape

(307511, 78)

In [52]:
merge_2

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,MONTHS_BALANCE,STATUS
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,-1125.0,0.0,-1038.0,0.0,40761.0,0.0,Credit card,-1038.0,-15.0,C
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,-2586.0,0.0,-2434.0,0.0,22248.0,0.0,Consumer credit,-2131.0,NaN,NaN
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,-1326.0,0.0,-595.0,0.0,94500.0,0.0,Consumer credit,-682.0,NaN,NaN
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,-1149.0,0.0,-783.0,0.0,146250.0,0.0,Consumer credit,-783.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,-919.0,0.0,-189.0,0.0,675000.0,0.0,Consumer credit,-128.0,0.0,C
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,-1104.0,0.0,-859.0,0.0,45000.0,0.0,Consumer credit,-401.0,0.0,C
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,-1022.0,0.0,-959.0,0.0,22995.0,0.0,Consumer credit,-890.0,0.0,C

In [53]:
merge_2.isnull().sum()

SK_ID_CURR                     0
TARGET                         0
NAME_CONTRACT_TYPE             0
CODE_GENDER                    0
FLAG_OWN_CAR                   0
                           ...
AMT_CREDIT_SUM_OVERDUE     51217
CREDIT_TYPE                51217
DAYS_CREDIT_UPDATE         51217
MONTHS_BALANCE            218069
STATUS                    218069
Length: 78, dtype: int64

In [54]:

cc_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,877.5,1700.325,1800.0,0.000,0.000,0.000,1,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,2250.0,60175.080,64875.555,64875.555,1,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,2250.000,2250.0,26926.425,31460.085,31460.085,0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,11795.760,11925.0,224949.285,233048.970,233048.970,1,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,11547.0,22924.890,27000.0,443044.395,453919.455,453919.455,1,101.0,Active,0,0

In [55]:
cc_balance.shape

(3840312, 16)

In [56]:
cc_balance

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,877.5,1700.325,1800.000,0.000,0.000,0.000,1,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,2250.000,60175.080,64875.555,64875.555,1,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,2250.000,2250.000,26926.425,31460.085,31460.085,0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,11795.760,11925.000,224949.285,233048.970,233048.970,1,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,11547.0,22924.890,27000.000,443044.395,453919.455,453919.455,1,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,-9,0.000,45000,0.0,0.000,0.000,0.000,0.000,0.000,0,0.0,Active,0,0
3840308,1714892,347207,-9,0.000,45000,0.0,0.000,0.000,0.000,0.000,0.000,0,23.0,Active,0,0
3840309,1302323,215757,-9,275784.975,585000,270000.0,2250.000,356994.675,269356.140,273093.975,273093.975,2,18.0,Active,0,0
3840310,1624872,430337,-10,0.000,450000,0.0,0.000,0.000,0.000,0.000,0.000,0,0.0,Active,0,0
3840311,2411345,236760,-10,0.000,157500,0.0,0.000,0.000,0.000,0.000,0.000,0,21.0,Completed,0,0

In [57]:
cc_balance.isnull().sum()

SK_ID_PREV                        0
SK_ID_CURR                        0
MONTHS_BALANCE                    0
AMT_BALANCE                       0
AMT_CREDIT_LIMIT_ACTUAL           0
AMT_DRAWINGS_CURRENT              0
AMT_INST_MIN_REGULARITY      305236
AMT_PAYMENT_TOTAL_CURRENT         0
AMT_RECEIVABLE_PRINCIPAL          0
AMT_RECIVABLE                     0
AMT_TOTAL_RECEIVABLE              0
CNT_DRAWINGS_CURRENT              0
CNT_INSTALMENT_MATURE_CUM    305236
NAME_CONTRACT_STATUS              0
SK_DPD                            0
SK_DPD_DEF                        0
dtype: int64

In [58]:
cc_balance.dtypes

SK_ID_PREV                     int64
SK_ID_CURR                     int64
MONTHS_BALANCE                 int64
AMT_BALANCE                  float64
AMT_CREDIT_LIMIT_ACTUAL        int64
AMT_DRAWINGS_CURRENT         float64
AMT_INST_MIN_REGULARITY      float64
AMT_PAYMENT_TOTAL_CURRENT    float64
AMT_RECEIVABLE_PRINCIPAL     float64
AMT_RECIVABLE                float64
AMT_TOTAL_RECEIVABLE         float64
CNT_DRAWINGS_CURRENT           int64
CNT_INSTALMENT_MATURE_CUM    float64
NAME_CONTRACT_STATUS          object
SK_DPD                         int64
SK_DPD_DEF                     int64
dtype: object

In [59]:
cc_balance.describe()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF
count,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.535076e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.535076e+06,3.840312e+06,3.840312e+06
mean,1.904504e+06,2.783242e+05,-3.452192e+01,5.830016e+04,1.538080e+05,7.433388e+03,3.540204e+03,7.588857e+03,5.596588e+04,5.808881e+04,5.809829e+04,7.031439e-01,2.082508e+01,9.283667e+00,3.316220e-01
std,5.364695e+05,1.027045e+05,2.666775e+01,1.063070e+05,1.651457e+05,3.384608e+04,5.600154e+03,3.200599e+04,1.025336e+05,1.059654e+05,1.059718e+05,3.190347e+00,2.005149e+01,9.751570e+01,2.147923e+01
min,1.000018e+06,1.000060e+05,-9.600000e+01,-4.202502e+05,0.000000e+00,-6.211620e+03,0.000000e+00,0.000000e+00,-4.233058e+05,-4.202502e+05,-4.202502e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.434385e+06,1.895170e+05,-5.500000e+01,0.000000e+00,4.500000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00
50%,1.897122e+06,2.783960e+05,-2.800000e+01,0.000000e+00,1.125000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01,0.000000e+00,0.000000e+00
75%,2.369328e+06,3.675800e+05,-1.100000e+01,8.904669e+04,1.800000e+05,0.000000e+00,6.633911e+03,6.750000e+03,8.535924e+04,8.889949e+04,8.891451e+04,0.000000e+00,3.200000e+01,0.000000e+00,0.000000e+00
max,2.843496e+06,4.562500e+05,-1.000000e+00,1.505902e+06,1.350000e+06,2.287098e+06,2.028820e+05,4.278316e+06,1.472317e+06,1.493338e+06,1.493338e+06,1.650000e+02,1.200000e+02,3.260000e+03,3.260000e+03

In [60]:
cc_balance.nunique()

SK_ID_PREV                    104307
SK_ID_CURR                    103558
MONTHS_BALANCE                    96
AMT_BALANCE                  1347904
AMT_CREDIT_LIMIT_ACTUAL          181
AMT_DRAWINGS_CURRENT          187005
AMT_INST_MIN_REGULARITY       312266
AMT_PAYMENT_TOTAL_CURRENT     182957
AMT_RECEIVABLE_PRINCIPAL     1195839
AMT_RECIVABLE                1338878
AMT_TOTAL_RECEIVABLE         1339008
CNT_DRAWINGS_CURRENT             129
CNT_INSTALMENT_MATURE_CUM        121
NAME_CONTRACT_STATUS               7
SK_DPD                           917
SK_DPD_DEF                       378
dtype: int64

In [61]:
cc_balance["SK_ID_CURR"].duplicated().sum()

3736754

In [62]:
cc_balance.drop_duplicates(subset = ["SK_ID_CURR"], inplace=True)

In [63]:
cc_balance

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,877.5,1700.325,1800.0,0.000,0.000,0.000,1,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,2250.0,60175.080,64875.555,64875.555,1,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,2250.000,2250.0,26926.425,31460.085,31460.085,0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,11795.760,11925.0,224949.285,233048.970,233048.970,1,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,11547.0,22924.890,27000.0,443044.395,453919.455,453919.455,1,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3773059,1551072,403596,-1,0.000,202500,0.0,0.000,0.0,0.000,0.000,0.000,0,0.0,Active,0,0
3787849,2339982,318916,-1,0.000,45000,0.0,0.000,0.0,0.000,0.000,0.000,0,0.0,Active,0,0
3788692,2720102,174455,-1,0.000,225000,0.0,0.000,0.0,0.000,0.000,0.000,0,0.0,Active,0,0
3802178,1897864,315041,-2,0.000,270000,0.0,0.000,0.0,0.000,0.000,0.000,0,0.0,Active,0,0
3817940,2481982,382749,-1,0.000,270000,0.0,0.000,0.0,0.000,0.000,0.000,0,0.0,Active,0,0

In [64]:
merge_3 = merge_2.merge(cc_balance, how = 'left', on = "SK_ID_CURR")
merge_3.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Active,0.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
merge_3.shape

(307511, 93)

In [66]:
merge_3["SK_ID_CURR"].duplicated().sum()

0

In [67]:
merge_3.isnull().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
CNT_DRAWINGS_CURRENT         220606
CNT_INSTALMENT_MATURE_CUM    224340
NAME_CONTRACT_STATUS         220606
SK_DPD                       220606
SK_DPD_DEF                   220606
Length: 93, dtype: int64

In [68]:
installment.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [69]:
installment.isnull().sum()

SK_ID_PREV                   0
SK_ID_CURR                   0
NUM_INSTALMENT_VERSION       0
NUM_INSTALMENT_NUMBER        0
DAYS_INSTALMENT              0
DAYS_ENTRY_PAYMENT        2905
AMT_INSTALMENT               0
AMT_PAYMENT               2905
dtype: int64

In [70]:
installment.describe()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
count,1.360540e+07,1.360540e+07,1.360540e+07,1.360540e+07,1.360540e+07,1.360250e+07,1.360540e+07,1.360250e+07
mean,1.903365e+06,2.784449e+05,8.566373e-01,1.887090e+01,-1.042270e+03,-1.051114e+03,1.705091e+04,1.723822e+04
std,5.362029e+05,1.027183e+05,1.035216e+00,2.666407e+01,8.009463e+02,8.005859e+02,5.057025e+04,5.473578e+04
min,1.000001e+06,1.000010e+05,0.000000e+00,1.000000e+00,-2.922000e+03,-4.921000e+03,0.000000e+00,0.000000e+00
25%,1.434191e+06,1.896390e+05,0.000000e+00,4.000000e+00,-1.654000e+03,-1.662000e+03,4.226085e+03,3.398265e+03
50%,1.896520e+06,2.786850e+05,1.000000e+00,8.000000e+00,-8.180000e+02,-8.270000e+02,8.884080e+03,8.125515e+03
75%,2.369094e+06,3.675300e+05,1.000000e+00,1.900000e+01,-3.610000e+02,-3.700000e+02,1.671021e+04,1.610842e+04
max,2.843499e+06,4.562550e+05,1.780000e+02,2.770000e+02,-1.000000e+00,-1.000000e+00,3.771488e+06,3.771488e+06

In [71]:
installment.nunique()

SK_ID_PREV                997752
SK_ID_CURR                339587
NUM_INSTALMENT_VERSION        65
NUM_INSTALMENT_NUMBER        277
DAYS_INSTALMENT             2922
DAYS_ENTRY_PAYMENT          3039
AMT_INSTALMENT            902539
AMT_PAYMENT               944235
dtype: int64

In [72]:
installment.shape

(13605401, 8)

In [73]:
installment.dtypes

SK_ID_PREV                  int64
SK_ID_CURR                  int64
NUM_INSTALMENT_VERSION    float64
NUM_INSTALMENT_NUMBER       int64
DAYS_INSTALMENT           float64
DAYS_ENTRY_PAYMENT        float64
AMT_INSTALMENT            float64
AMT_PAYMENT               float64
dtype: object

In [74]:
installment["SK_ID_CURR"].duplicated().sum()

13265814

In [75]:
installment.drop_duplicates(subset = ["SK_ID_CURR"], inplace=True)

In [76]:
installment

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585
...,...,...,...,...,...,...,...,...
13558570,2631378,427056,1.0,5,-2908.0,-2912.0,6987.690,6987.690
13574118,2789075,434108,2.0,1,-823.0,-840.0,28975.770,28975.770
13578096,2108261,413433,2.0,1,-610.0,-614.0,656487.945,656487.945
13582996,2539110,434445,2.0,1,-319.0,-326.0,55493.055,55493.055
13585675,1847946,405063,0.0,24,-2543.0,NaN,0.090,NaN

In [77]:
merge_4 = merge_3.merge(installment, how = "left", on = "SK_ID_CURR")
merge_4

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,SK_ID_PREV_y,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,1038818.0,1.0,16.0,-115.0,-133.0,9251.775,9251.775
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,1810518.0,1.0,2.0,-686.0,-690.0,98356.995,98356.995
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,1564014.0,1.0,2.0,-754.0,-763.0,5357.250,5357.250
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,Active,0.0,0.0,2190416.0,1.0,3.0,-221.0,-226.0,29027.520,29027.520
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,2119973.0,1.0,4.0,-2236.0,-2234.0,1834.290,1834.290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,NaN,NaN,NaN,2248017.0,1.0,6.0,-60.0,-101.0,6605.910,6605.910
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,NaN,NaN,NaN,1503599.0,1.0,6.0,-2316.0,-2327.0,10046.880,10046.880
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,NaN,NaN,NaN,1668235.0,1.0,4.0,-2722.0,-2743.0,3971.880,3971.880
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,NaN,NaN,NaN,2016407.0,1.0,7.0,-67.0,-78.0,19065.825,19065.825
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,NaN,NaN,NaN,1743609.0,1.0,2.0,-930.0,-938.0,11090.835,11090.835

In [78]:
merge_4.shape

(307511, 100)

In [79]:
merge_4["SK_ID_PREV_y"].duplicated().sum()

15867

In [80]:
merge_4["SK_ID_CURR"].duplicated().sum()

0

In [81]:
merge_4.isnull().sum()

SK_ID_CURR                   0
TARGET                       0
NAME_CONTRACT_TYPE           0
CODE_GENDER                  0
FLAG_OWN_CAR                 0
                         ...
NUM_INSTALMENT_NUMBER    15868
DAYS_INSTALMENT          15868
DAYS_ENTRY_PAYMENT       15876
AMT_INSTALMENT           15868
AMT_PAYMENT              15876
Length: 100, dtype: int64

In [82]:
pos_cash.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [83]:
pos_cash.describe()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,SK_DPD,SK_DPD_DEF
count,1.000136e+07,1.000136e+07,1.000136e+07,9.975287e+06,9.975271e+06,1.000136e+07,1.000136e+07
mean,1.903217e+06,2.784039e+05,-3.501259e+01,1.708965e+01,1.048384e+01,1.160693e+01,6.544684e-01
std,5.358465e+05,1.027637e+05,2.606657e+01,1.199506e+01,1.110906e+01,1.327140e+02,3.276249e+01
min,1.000001e+06,1.000010e+05,-9.600000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.434405e+06,1.895500e+05,-5.400000e+01,1.000000e+01,3.000000e+00,0.000000e+00,0.000000e+00
50%,1.896565e+06,2.786540e+05,-2.800000e+01,1.200000e+01,7.000000e+00,0.000000e+00,0.000000e+00
75%,2.368963e+06,3.674290e+05,-1.300000e+01,2.400000e+01,1.400000e+01,0.000000e+00,0.000000e+00
max,2.843499e+06,4.562550e+05,-1.000000e+00,9.200000e+01,8.500000e+01,4.231000e+03,3.595000e+03

In [84]:
pos_cash.isnull().sum()

SK_ID_PREV                   0
SK_ID_CURR                   0
MONTHS_BALANCE               0
CNT_INSTALMENT           26071
CNT_INSTALMENT_FUTURE    26087
NAME_CONTRACT_STATUS         0
SK_DPD                       0
SK_DPD_DEF                   0
dtype: int64

In [85]:
pos_cash.nunique()

SK_ID_PREV               936325
SK_ID_CURR               337252
MONTHS_BALANCE               96
CNT_INSTALMENT               73
CNT_INSTALMENT_FUTURE        79
NAME_CONTRACT_STATUS          9
SK_DPD                     3400
SK_DPD_DEF                 2307
dtype: int64

In [86]:
pos_cash["NAME_CONTRACT_STATUS"].value_counts()

Active                   9151119
Completed                 744883
Signed                     87260
Demand                      7065
Returned to the store       5461
Approved                    4917
Amortized debt               636
Canceled                      15
XNA                            2
Name: NAME_CONTRACT_STATUS, dtype: int64

In [87]:
pos_cash.shape

(10001358, 8)

In [88]:
pos_cash["SK_ID_CURR"].duplicated().sum()

9664106

In [89]:
pos_cash.drop_duplicates(subset = ["SK_ID_CURR"], inplace=True)

In [90]:
final_merge = merge_4.merge(pos_cash, how = "inner", on = "SK_ID_CURR")

In [91]:
final_merge

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,SK_ID_PREV,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS_y,SK_DPD_y,SK_DPD_DEF_y
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,-133.0,9251.775,9251.775,1038818,-13,24.0,18.0,Active,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,-690.0,98356.995,98356.995,2396755,-66,12.0,1.0,Active,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,-763.0,5357.250,5357.250,1564014,-25,4.0,2.0,Active,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,-226.0,29027.520,29027.520,2299329,-14,5.0,0.0,Active,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,-2234.0,1834.290,1834.290,1692033,-3,24.0,15.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289439,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,-101.0,6605.910,6605.910,2248017,-9,NaN,NaN,Signed,0,0
289440,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,-2327.0,10046.880,10046.880,1503599,-76,6.0,0.0,Completed,0,0
289441,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,-2743.0,3971.880,3971.880,1686207,-59,6.0,2.0,Active,0,0
289442,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,-78.0,19065.825,19065.825,2016407,-7,16.0,14.0,Active,0,0
289443,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,-938.0,11090.835,11090.835,1179690,-15,24.0,16.0,Active,0,0

In [92]:
final_merge["SK_ID_CURR"].duplicated().sum()

0

In [93]:
final_merge["SK_ID_PREV"].duplicated().sum()

0

In [94]:
final_merge["SK_DPD_y"].duplicated().sum()

289176

In [95]:
final_merge.isnull().sum()

SK_ID_CURR                   0
TARGET                       0
NAME_CONTRACT_TYPE           0
CODE_GENDER                  0
FLAG_OWN_CAR                 0
                          ...
CNT_INSTALMENT            1244
CNT_INSTALMENT_FUTURE     1246
NAME_CONTRACT_STATUS_y       0
SK_DPD_y                     0
SK_DPD_DEF_y                 0
Length: 107, dtype: int64

In [96]:
obtain_nulls(final_merge)

['SK_ID_BUREAU',
 'CREDIT_ACTIVE',
 'CREDIT_CURRENCY',
 'DAYS_CREDIT',
 'CREDIT_DAY_OVERDUE',
 'DAYS_CREDIT_ENDDATE',
 'CNT_CREDIT_PROLONG',
 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_OVERDUE',
 'CREDIT_TYPE',
 'DAYS_CREDIT_UPDATE',
 'MONTHS_BALANCE_x',
 'STATUS',
 'SK_ID_PREV_x',
 'MONTHS_BALANCE_y',
 'AMT_BALANCE',
 'AMT_CREDIT_LIMIT_ACTUAL',
 'AMT_DRAWINGS_CURRENT',
 'AMT_INST_MIN_REGULARITY',
 'AMT_PAYMENT_TOTAL_CURRENT',
 'AMT_RECEIVABLE_PRINCIPAL',
 'AMT_RECIVABLE',
 'AMT_TOTAL_RECEIVABLE',
 'CNT_DRAWINGS_CURRENT',
 'CNT_INSTALMENT_MATURE_CUM',
 'NAME_CONTRACT_STATUS_x',
 'SK_DPD_x',
 'SK_DPD_DEF_x']

In [97]:
for col_names in final_merge.columns:
    print(col_names)

SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_2
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
SK_ID_BUREAU
CREDIT_ACTIVE
CREDIT_CURRENCY
DAYS_CREDIT
CREDIT_DAY_OVERDUE
DAYS_CREDIT_ENDDATE
CNT_CREDIT_PROLONG
AMT_CREDIT_SUM
AMT_CREDIT_SUM_OVERDUE
CREDIT_TYPE
DAYS_CREDIT_UPDATE
MONTHS_BALANCE_x
STATUS
SK_ID_PREV_x
MONTHS_BALANCE_y
AMT_BALANCE
AMT_CREDIT_LIMIT_ACTUAL
AMT_DRAWINGS_CURRENT
AMT_INST_MIN_REGULARITY
AMT_PAYMENT_TOTAL_CURRENT
AMT_RECEIVABLE_PRINCIPAL
AMT_RECIVABLE
AMT_TOTAL_RECEIVABLE
CNT_DRAWINGS_CURRENT
CNT_INSTALMENT_MATURE_CUM
NAME_CONTRACT_STATUS_x
SK_DPD_x
SK_DPD_DEF_x
SK_ID_PREV_y
NUM_INSTALMENT_VERSION
NUM_INSTALMENT_NUMBER
DAYS_INSTALMENT
DAYS_ENTRY_PAYMENT
AMT_INSTALMENT
AMT_PAYMENT
SK_ID_PREV
MONTHS_BALANCE
CNT_INSTALMENT
CNT_INSTALMENT_FUTURE
NAME_CONTRACT_STATUS_y
SK_DPD_y
SK_DPD_DEF_y

In [98]:
columns_drop = ["SK_DPD_y", 
                'SK_DPD_DEF_y', 
                'SK_ID_PREV', 
                'SK_ID_PREV_y',
               "SK_ID_BUREAU",
               'SK_ID_PREV_x',
               'SK_DPD_x',
               'SK_DPD_DEF_x',
                'SK_ID_CURR']

In [99]:
# drop the columns that are only used for IDs
final_merge_2 = final_merge.drop(columns = columns_drop)

final_merge_2

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS_y
0,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,1.0,16.0,-115.0,-133.0,9251.775,9251.775,-13,24.0,18.0,Active
1,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,1.0,2.0,-686.0,-690.0,98356.995,98356.995,-66,12.0,1.0,Active
2,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,1.0,2.0,-754.0,-763.0,5357.250,5357.250,-25,4.0,2.0,Active
3,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,1.0,3.0,-221.0,-226.0,29027.520,29027.520,-14,5.0,0.0,Active
4,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,1.0,4.0,-2236.0,-2234.0,1834.290,1834.290,-3,24.0,15.0,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289439,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,...,1.0,6.0,-60.0,-101.0,6605.910,6605.910,-9,NaN,NaN,Signed
289440,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,...,1.0,6.0,-2316.0,-2327.0,10046.880,10046.880,-76,6.0,0.0,Completed
289441,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,...,1.0,4.0,-2722.0,-2743.0,3971.880,3971.880,-59,6.0,2.0,Active
289442,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,...,1.0,7.0,-67.0,-78.0,19065.825,19065.825,-7,16.0,14.0,Active
289443,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,...,1.0,2.0,-930.0,-938.0,11090.835,11090.835,-15,24.0,16.0,Active

In [100]:
for col_names in final_merge_2.columns:
    print(col_names)

TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_2
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
CREDIT_ACTIVE
CREDIT_CURRENCY
DAYS_CREDIT
CREDIT_DAY_OVERDUE
DAYS_CREDIT_ENDDATE
CNT_CREDIT_PROLONG
AMT_CREDIT_SUM
AMT_CREDIT_SUM_OVERDUE
CREDIT_TYPE
DAYS_CREDIT_UPDATE
MONTHS_BALANCE_x
STATUS
MONTHS_BALANCE_y
AMT_BALANCE
AMT_CREDIT_LIMIT_ACTUAL
AMT_DRAWINGS_CURRENT
AMT_INST_MIN_REGULARITY
AMT_PAYMENT_TOTAL_CURRENT
AMT_RECEIVABLE_PRINCIPAL
AMT_RECIVABLE
AMT_TOTAL_RECEIVABLE
CNT_DRAWINGS_CURRENT
CNT_INSTALMENT_MATURE_CUM
NAME_CONTRACT_STATUS_x
NUM_INSTALMENT_VERSION
NUM_INSTALMENT_NUMBER
DAYS_INSTALMENT
DAYS_ENTRY_PAYMENT
AMT_INSTALMENT
AMT_PAYMENT
MONTHS_BALANCE
CNT_INSTALMENT
CNT_INSTALMENT_FUTURE
NAME_CONTRACT_STATUS_y

In [103]:
final_merge_2

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS_y
0,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,1.0,16.0,-115.0,-133.0,9251.775,9251.775,-13,24.0,18.0,Active
1,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,1.0,2.0,-686.0,-690.0,98356.995,98356.995,-66,12.0,1.0,Active
2,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,1.0,2.0,-754.0,-763.0,5357.250,5357.250,-25,4.0,2.0,Active
3,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,1.0,3.0,-221.0,-226.0,29027.520,29027.520,-14,5.0,0.0,Active
4,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,1.0,4.0,-2236.0,-2234.0,1834.290,1834.290,-3,24.0,15.0,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289439,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,...,1.0,6.0,-60.0,-101.0,6605.910,6605.910,-9,NaN,NaN,Signed
289440,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,...,1.0,6.0,-2316.0,-2327.0,10046.880,10046.880,-76,6.0,0.0,Completed
289441,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,...,1.0,4.0,-2722.0,-2743.0,3971.880,3971.880,-59,6.0,2.0,Active
289442,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,...,1.0,7.0,-67.0,-78.0,19065.825,19065.825,-7,16.0,14.0,Active
289443,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,...,1.0,2.0,-930.0,-938.0,11090.835,11090.835,-15,24.0,16.0,Active

In [111]:
# replace the null values of the float and int types
def fill_nulls(data):
    for i in data.columns:
        if (data[i].dtype == "int64" or data[i].dtype == "float64"):
            data[i] = data[i].fillna(data[i].mean())
        else:
            pass
    return data

In [112]:
partially_cleaned = fill_nulls(final_merge_2)
partially_cleaned.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS_y
0,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,1.0,16.0,-115.0,-133.0,9251.775,9251.775,-13,24.0,18.0,Active
1,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,1.0,2.0,-686.0,-690.0,98356.995,98356.995,-66,12.0,1.0,Active
2,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,1.0,2.0,-754.0,-763.0,5357.250,5357.250,-25,4.0,2.0,Active
3,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,1.0,3.0,-221.0,-226.0,29027.520,29027.520,-14,5.0,0.0,Active
4,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,1.0,4.0,-2236.0,-2234.0,1834.290,1834.290,-3,24.0,15.0,Active

In [113]:
obtain_nulls(partially_cleaned)

['CREDIT_ACTIVE',
 'CREDIT_CURRENCY',
 'CREDIT_TYPE',
 'STATUS',
 'NAME_CONTRACT_STATUS_x']

In [114]:
partially_cleaned.isnull().sum()

TARGET                    0
NAME_CONTRACT_TYPE        0
CODE_GENDER               0
FLAG_OWN_CAR              0
FLAG_OWN_REALTY           0
                         ..
AMT_PAYMENT               0
MONTHS_BALANCE            0
CNT_INSTALMENT            0
CNT_INSTALMENT_FUTURE     0
NAME_CONTRACT_STATUS_y    0
Length: 98, dtype: int64

In [115]:
partially_cleaned['CREDIT_ACTIVE'].value_counts()

Closed      166353
Active       74542
Sold           655
Bad debt         3
Name: CREDIT_ACTIVE, dtype: int64

In [116]:
partially_cleaned['CREDIT_ACTIVE'].isnull().sum()

47891

In [117]:
partially_cleaned['CREDIT_CURRENCY'].isnull().sum()

47891

In [118]:
partially_cleaned['CREDIT_CURRENCY'].value_counts()

currency 1    241405
currency 2       139
currency 3         8
currency 4         1
Name: CREDIT_CURRENCY, dtype: int64

In [119]:
partially_cleaned['CREDIT_TYPE'].value_counts()

Consumer credit                           182540
Credit card                                51568
Car loan                                    3529
Mortgage                                    3345
Microloan                                    317
Loan for business development                164
Another type of loan                          45
Unknown type of loan                          24
Loan for working capital replenishment        17
Real estate loan                               2
Loan for the purchase of equipment             2
Name: CREDIT_TYPE, dtype: int64

In [120]:
partially_cleaned['CREDIT_TYPE'].isnull().sum()

47891

In [121]:
partially_cleaned['STATUS'].value_counts()

C    46153
X    21752
0    16916
1      654
5      189
2       43
3       11
4        9
Name: STATUS, dtype: int64

In [122]:
partially_cleaned['STATUS'].isnull().sum()

203717

In [123]:
partially_cleaned['NAME_CONTRACT_STATUS_x'].value_counts()

Active           80588
Completed         3118
Signed             358
Sent proposal        7
Demand               5
Name: NAME_CONTRACT_STATUS_x, dtype: int64

In [125]:
partially_cleaned['NAME_CONTRACT_STATUS_x'].isnull().sum()

205368

In [126]:
len(partially_cleaned)

289444

In [127]:
partially_cleaned.drop(columns = ["STATUS", 'NAME_CONTRACT_STATUS_x'], inplace = True)