## Mortgage Approval Analysis

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from pathlib import Path

## Import each csv file and do exploratroy analysis

In [3]:
# import csv files
app_train = pd.read_csv(Path("../Data/home_credit_default_risk/application_train.csv"), encoding='unicode_escape')
bureau_balance = pd.read_csv(Path("../Data/home_credit_default_risk/bureau_balance.csv"), encoding='unicode_escape')
bureau = pd.read_csv(Path("../Data/home_credit_default_risk/bureau.csv"), encoding='unicode_escape')
cc_balance = pd.read_csv(Path("../Data/home_credit_default_risk/credit_card_balance.csv"), encoding='unicode_escape')
home_credit = pd.read_csv(Path("../Data/home_credit_default_risk/HomeCredit_columns_description.csv"), encoding='unicode_escape')
installment = pd.read_csv(Path("../Data/home_credit_default_risk/installments_payments.csv"), encoding='unicode_escape')
pos_cash = pd.read_csv(Path("../Data/home_credit_default_risk/POS_CASH_balance.csv"), encoding='unicode_escape')
previous_app = pd.read_csv(Path("../Data/home_credit_default_risk/previous_application.csv"), encoding='unicode_escape')
app_test = pd.read_csv(Path("../Data/home_credit_default_risk/application_test.csv"), encoding='unicode_escape')

In [4]:
def obtain_nulls(dataframe):
    null_values = []
    for i in dataframe:
        if dataframe[i].isnull().sum() > dataframe.shape[0]*.10:
            null_values.append(i)
    return null_values

In [5]:
# decisioning loans based on gender is illegal
app_train.drop(columns = 'CODE_GENDER', inplace = True)
app_test.drop(columns = "CODE_GENDER", inplace = True)

In [6]:
app_nulls = obtain_nulls(app_train)
bureau_balance_nulls = obtain_nulls(bureau_balance)
bureau_nulls = obtain_nulls(bureau)
cc_balance_nulls = obtain_nulls(cc_balance)
home_credit_nulls = obtain_nulls(home_credit)
installment_nulls = obtain_nulls(installment)
pos_cash_nulls = obtain_nulls(pos_cash)
previous_app_nulls = obtain_nulls(previous_app)
app_test_nulls = obtain_nulls(app_test)

In [7]:
app_train = app_train.drop(columns = app_nulls)
bureau_balance = bureau_balance.drop(columns = bureau_balance_nulls)
bureau = bureau.drop(columns = bureau_nulls)
cc_balance = cc_balance.drop(columns = cc_balance_nulls)
home_credit = home_credit.drop(columns = home_credit_nulls)
installment = installment.drop(columns = installment_nulls)
pos_cash = pos_cash.drop(columns = pos_cash_nulls)
previous_app = previous_app.drop(columns = previous_app_nulls)
app_test = app_test.drop(columns = app_test_nulls)

In [8]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100002,1,Cash loans,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,Cash loans,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,Cash loans,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [10]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE
0,215354,5714462,Closed,currency 1,-497,0,-153.0,0,91323.0,0.0,Consumer credit,-131
1,215354,5714463,Active,currency 1,-208,0,1075.0,0,225000.0,0.0,Credit card,-20
2,215354,5714464,Active,currency 1,-203,0,528.0,0,464323.5,0.0,Consumer credit,-16
3,215354,5714465,Active,currency 1,-203,0,NaN,0,90000.0,0.0,Credit card,-16
4,215354,5714466,Active,currency 1,-629,0,1197.0,0,2700000.0,0.0,Consumer credit,-21

In [11]:
cc_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,877.5,1700.325,1800.0,0.000,0.000,0.000,1,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,2250.0,60175.080,64875.555,64875.555,1,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,2250.000,2250.0,26926.425,31460.085,31460.085,0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,11795.760,11925.0,224949.285,233048.970,233048.970,1,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,11547.0,22924.890,27000.0,443044.395,453919.455,453919.455,1,101.0,Active,0,0

In [12]:
home_credit.head()

,Unnamed: 0,Table,Row,Description
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car

In [13]:
installment.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [14]:
pos_cash.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [15]:
previous_app.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_APPLICATION,AMT_CREDIT,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,NAME_CASH_LOAN_PURPOSE,...,CODE_REJECT_REASON,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,NAME_YIELD_GROUP,PRODUCT_COMBINATION
0,2030495,271877,Consumer loans,17145.0,17145.0,SATURDAY,15,Y,1,XAP,...,XAP,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,middle,POS mobile with interest
1,2802425,108129,Cash loans,607500.0,679671.0,THURSDAY,11,Y,1,XNA,...,XAP,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,low_action,Cash X-Sell: low
2,2523466,122040,Cash loans,112500.0,136444.5,TUESDAY,11,Y,1,XNA,...,XAP,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,high,Cash X-Sell: high
3,2819243,176158,Cash loans,450000.0,470790.0,MONDAY,7,Y,1,XNA,...,XAP,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,middle,Cash X-Sell: middle
4,1784265,202054,Cash loans,337500.0,404055.0,THURSDAY,9,Y,1,Repairs,...,HC,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,high,Cash Street: high

In [16]:
cc_balance["SK_ID_PREV"].isin(installment["SK_ID_PREV"]).sum()

3162570

In [17]:
installment["SK_ID_CURR"].isin(app_train["SK_ID_CURR"]).sum()

11591592

In [18]:
pos_cash["SK_ID_CURR"].isin(app_train["SK_ID_CURR"]).sum()

8543375

In [19]:
previous_app["SK_ID_CURR"].isin(app_train["SK_ID_CURR"]).sum()

1413701

In [20]:
cc_balance["SK_ID_CURR"].isin(app_train["SK_ID_CURR"]).sum()

3227965

In [21]:
app_train["SK_ID_CURR"].duplicated().sum()

0

In [22]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100002,1,Cash loans,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,Cash loans,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,Cash loans,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
app_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.00000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.000007,0.003525,0.002936,0.00121,0.009928,0.000267,0.008130,0.000595,0.000507,0.000335
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.002550,0.059268,0.054110,0.03476,0.099144,0.016327,0.089798,0.024387,0.022518,0.018299
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
app_train.isnull().sum()

SK_ID_CURR            0
TARGET                0
NAME_CONTRACT_TYPE    0
FLAG_OWN_CAR          0
FLAG_OWN_REALTY       0
                     ..
FLAG_DOCUMENT_17      0
FLAG_DOCUMENT_18      0
FLAG_DOCUMENT_19      0
FLAG_DOCUMENT_20      0
FLAG_DOCUMENT_21      0
Length: 64, dtype: int64

In [25]:
app_train.nunique()

SK_ID_CURR            307511
TARGET                     2
NAME_CONTRACT_TYPE         2
FLAG_OWN_CAR               2
FLAG_OWN_REALTY            2
                       ...
FLAG_DOCUMENT_17           2
FLAG_DOCUMENT_18           2
FLAG_DOCUMENT_19           2
FLAG_DOCUMENT_20           2
FLAG_DOCUMENT_21           2
Length: 64, dtype: int64

In [26]:
app_train.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
307506    False
307507    False
307508    False
307509    False
307510    False
Length: 307511, dtype: bool

In [27]:
app_test

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100001,Cash loans,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,...,0,0,0,0,0,0,0,0,0,0
1,100005,Cash loans,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,...,0,0,0,0,0,0,0,0,0,0
2,100013,Cash loans,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
3,100028,Cash loans,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,...,0,0,0,0,0,0,0,0,0,0
4,100038,Cash loans,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,Cash loans,N,Y,0,121500.0,412560.0,17473.5,270000.0,Unaccompanied,...,0,0,0,0,0,0,0,0,0,0
48740,456222,Cash loans,N,N,2,157500.0,622413.0,31909.5,495000.0,Unaccompanied,...,0,0,0,0,0,0,0,0,0,0
48741,456223,Cash loans,Y,Y,1,202500.0,315000.0,33205.5,315000.0,Unaccompanied,...,0,0,0,0,0,0,0,0,0,0
48742,456224,Cash loans,N,N,0,225000.0,450000.0,25128.0,450000.0,Family,...,0,0,0,0,0,0,0,0,0,0
48743,456250,Cash loans,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,...,0,0,0,0,0,0,0,0,0,0

In [28]:
app_test.isnull().sum()

SK_ID_CURR            0
NAME_CONTRACT_TYPE    0
FLAG_OWN_CAR          0
FLAG_OWN_REALTY       0
CNT_CHILDREN          0
                     ..
FLAG_DOCUMENT_17      0
FLAG_DOCUMENT_18      0
FLAG_DOCUMENT_19      0
FLAG_DOCUMENT_20      0
FLAG_DOCUMENT_21      0
Length: 63, dtype: int64

In [29]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [30]:
bureau_balance.isnull().sum()

SK_ID_BUREAU      0
MONTHS_BALANCE    0
STATUS            0
dtype: int64

In [31]:
bureau_balance["SK_ID_BUREAU"].duplicated().sum()

26482530

In [32]:
bureau_balance.drop_duplicates(subset = ["SK_ID_BUREAU"], inplace=True)

In [33]:
bureau_balance.shape

(817395, 3)

In [34]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE
0,215354,5714462,Closed,currency 1,-497,0,-153.0,0,91323.0,0.0,Consumer credit,-131
1,215354,5714463,Active,currency 1,-208,0,1075.0,0,225000.0,0.0,Credit card,-20
2,215354,5714464,Active,currency 1,-203,0,528.0,0,464323.5,0.0,Consumer credit,-16
3,215354,5714465,Active,currency 1,-203,0,NaN,0,90000.0,0.0,Credit card,-16
4,215354,5714466,Active,currency 1,-629,0,1197.0,0,2700000.0,0.0,Consumer credit,-21

In [35]:
bureau.isnull().sum()

SK_ID_CURR                     0
SK_ID_BUREAU                   0
CREDIT_ACTIVE                  0
CREDIT_CURRENCY                0
DAYS_CREDIT                    0
CREDIT_DAY_OVERDUE             0
DAYS_CREDIT_ENDDATE       105553
CNT_CREDIT_PROLONG             0
AMT_CREDIT_SUM                13
AMT_CREDIT_SUM_OVERDUE         0
CREDIT_TYPE                    0
DAYS_CREDIT_UPDATE             0
dtype: int64

In [36]:
bureau["SK_ID_CURR"].duplicated().sum()

1410617

In [37]:
bureau.drop_duplicates(subset = ["SK_ID_CURR"], inplace=True)

In [38]:
bureau.dropna(inplace = True)

In [39]:
bureau.shape

(297566, 12)

In [40]:
app_train.shape

(307511, 64)

In [41]:
# merge the 3 dataframes
merge_1_train = app_train.merge(bureau, how = "left", on = "SK_ID_CURR")
merge_1_test = app_test.merge(bureau, how = "left", on = "SK_ID_CURR")

In [42]:
display(merge_1_train.shape)
display(merge_1_test.shape)

(307511, 75)

(48744, 74)

In [43]:
merge_1_train.isnull().sum()

SK_ID_CURR                    0
TARGET                        0
NAME_CONTRACT_TYPE            0
FLAG_OWN_CAR                  0
FLAG_OWN_REALTY               0
                          ...
CNT_CREDIT_PROLONG        51217
AMT_CREDIT_SUM            51217
AMT_CREDIT_SUM_OVERDUE    51217
CREDIT_TYPE               51217
DAYS_CREDIT_UPDATE        51217
Length: 75, dtype: int64

In [44]:
merge_1_test.isnull().sum()

SK_ID_CURR                   0
NAME_CONTRACT_TYPE           0
FLAG_OWN_CAR                 0
FLAG_OWN_REALTY              0
CNT_CHILDREN                 0
                          ...
CNT_CREDIT_PROLONG        7472
AMT_CREDIT_SUM            7472
AMT_CREDIT_SUM_OVERDUE    7472
CREDIT_TYPE               7472
DAYS_CREDIT_UPDATE        7472
Length: 74, dtype: int64

In [45]:
merge_1_train["SK_ID_CURR"].duplicated().sum()

0

In [46]:
merge_1_test["SK_ID_CURR"].duplicated().sum()

0

In [47]:
bureau["SK_ID_CURR"].value_counts()

215354    1
291281    1
405521    1
455138    1
140639    1
         ..
208120    1
376463    1
418928    1
329282    1
235871    1
Name: SK_ID_CURR, Length: 297566, dtype: int64

In [48]:
bureau["SK_ID_CURR"].duplicated().sum()

0

In [49]:
bureau.nunique()

SK_ID_CURR                297566
SK_ID_BUREAU              297566
CREDIT_ACTIVE                  4
CREDIT_CURRENCY                4
DAYS_CREDIT                 2923
CREDIT_DAY_OVERDUE           310
DAYS_CREDIT_ENDDATE        10077
CNT_CREDIT_PROLONG             7
AMT_CREDIT_SUM             80705
AMT_CREDIT_SUM_OVERDUE       374
CREDIT_TYPE                   12
DAYS_CREDIT_UPDATE          2902
dtype: int64

In [50]:
merge_2_train = merge_1_train.merge(bureau_balance, how = "left", on = "SK_ID_BUREAU")
merge_2_test = merge_1_test.merge(bureau_balance, how = "left", on = "SK_ID_BUREAU")

In [51]:
display(merge_2_train.shape)
display(merge_2_test.shape)

(307511, 77)

(48744, 76)

In [52]:
merge_2_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,MONTHS_BALANCE,STATUS
0,100002,1,Cash loans,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,-1125.0,0.0,-1038.0,0.0,40761.0,0.0,Credit card,-1038.0,-15.0,C
1,100003,0,Cash loans,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,-2586.0,0.0,-2434.0,0.0,22248.0,0.0,Consumer credit,-2131.0,NaN,NaN
2,100004,0,Revolving loans,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,-1326.0,0.0,-595.0,0.0,94500.0,0.0,Consumer credit,-682.0,NaN,NaN
3,100006,0,Cash loans,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,-1149.0,0.0,-783.0,0.0,146250.0,0.0,Consumer credit,-783.0,NaN,NaN

In [53]:
merge_2_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,MONTHS_BALANCE,STATUS
0,100001,Cash loans,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,...,-857.0,0.0,-492.0,0.0,112500.0,0.0,Consumer credit,-155.0,0.0,C
1,100005,Cash loans,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,...,-373.0,0.0,-128.0,0.0,58500.0,0.0,Credit card,-121.0,0.0,C
2,100013,Cash loans,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,...,-2005.0,0.0,-909.0,0.0,688500.0,0.0,Car loan,-1334.0,0.0,C
3,100028,Cash loans,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,...,-992.0,0.0,-452.0,0.0,43024.5,0.0,Consumer credit,-563.0,0.0,X
4,100038,Cash loans,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
merge_2_train.isnull().sum()

SK_ID_CURR                     0
TARGET                         0
NAME_CONTRACT_TYPE             0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
                           ...
AMT_CREDIT_SUM_OVERDUE     51217
CREDIT_TYPE                51217
DAYS_CREDIT_UPDATE         51217
MONTHS_BALANCE            218069
STATUS                    218069
Length: 77, dtype: int64

In [55]:
merge_2_test.isnull().sum()

SK_ID_CURR                   0
NAME_CONTRACT_TYPE           0
FLAG_OWN_CAR                 0
FLAG_OWN_REALTY              0
CNT_CHILDREN                 0
                          ...
AMT_CREDIT_SUM_OVERDUE    7472
CREDIT_TYPE               7472
DAYS_CREDIT_UPDATE        7472
MONTHS_BALANCE            7500
STATUS                    7500
Length: 76, dtype: int64

In [56]:
# dropping the dupplicates for SKIDBUREU will cause the df to be 7 rows and not 4k, after this merge  the rows are the same length

In [57]:
cc_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,877.5,1700.325,1800.0,0.000,0.000,0.000,1,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,2250.0,60175.080,64875.555,64875.555,1,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,2250.000,2250.0,26926.425,31460.085,31460.085,0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,11795.760,11925.0,224949.285,233048.970,233048.970,1,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,11547.0,22924.890,27000.0,443044.395,453919.455,453919.455,1,101.0,Active,0,0

In [58]:
cc_balance.shape

(3840312, 16)

In [59]:
cc_balance

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,877.5,1700.325,1800.000,0.000,0.000,0.000,1,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,2250.000,60175.080,64875.555,64875.555,1,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,2250.000,2250.000,26926.425,31460.085,31460.085,0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,11795.760,11925.000,224949.285,233048.970,233048.970,1,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,11547.0,22924.890,27000.000,443044.395,453919.455,453919.455,1,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,-9,0.000,45000,0.0,0.000,0.000,0.000,0.000,0.000,0,0.0,Active,0,0
3840308,1714892,347207,-9,0.000,45000,0.0,0.000,0.000,0.000,0.000,0.000,0,23.0,Active,0,0
3840309,1302323,215757,-9,275784.975,585000,270000.0,2250.000,356994.675,269356.140,273093.975,273093.975,2,18.0,Active,0,0
3840310,1624872,430337,-10,0.000,450000,0.0,0.000,0.000,0.000,0.000,0.000,0,0.0,Active,0,0
3840311,2411345,236760,-10,0.000,157500,0.0,0.000,0.000,0.000,0.000,0.000,0,21.0,Completed,0,0

In [60]:
cc_balance.isnull().sum()

SK_ID_PREV                        0
SK_ID_CURR                        0
MONTHS_BALANCE                    0
AMT_BALANCE                       0
AMT_CREDIT_LIMIT_ACTUAL           0
AMT_DRAWINGS_CURRENT              0
AMT_INST_MIN_REGULARITY      305236
AMT_PAYMENT_TOTAL_CURRENT         0
AMT_RECEIVABLE_PRINCIPAL          0
AMT_RECIVABLE                     0
AMT_TOTAL_RECEIVABLE              0
CNT_DRAWINGS_CURRENT              0
CNT_INSTALMENT_MATURE_CUM    305236
NAME_CONTRACT_STATUS              0
SK_DPD                            0
SK_DPD_DEF                        0
dtype: int64

In [61]:
cc_balance.dtypes

SK_ID_PREV                     int64
SK_ID_CURR                     int64
MONTHS_BALANCE                 int64
AMT_BALANCE                  float64
AMT_CREDIT_LIMIT_ACTUAL        int64
AMT_DRAWINGS_CURRENT         float64
AMT_INST_MIN_REGULARITY      float64
AMT_PAYMENT_TOTAL_CURRENT    float64
AMT_RECEIVABLE_PRINCIPAL     float64
AMT_RECIVABLE                float64
AMT_TOTAL_RECEIVABLE         float64
CNT_DRAWINGS_CURRENT           int64
CNT_INSTALMENT_MATURE_CUM    float64
NAME_CONTRACT_STATUS          object
SK_DPD                         int64
SK_DPD_DEF                     int64
dtype: object

In [62]:
cc_balance.describe()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF
count,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.535076e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.535076e+06,3.840312e+06,3.840312e+06
mean,1.904504e+06,2.783242e+05,-3.452192e+01,5.830016e+04,1.538080e+05,7.433388e+03,3.540204e+03,7.588857e+03,5.596588e+04,5.808881e+04,5.809829e+04,7.031439e-01,2.082508e+01,9.283667e+00,3.316220e-01
std,5.364695e+05,1.027045e+05,2.666775e+01,1.063070e+05,1.651457e+05,3.384608e+04,5.600154e+03,3.200599e+04,1.025336e+05,1.059654e+05,1.059718e+05,3.190347e+00,2.005149e+01,9.751570e+01,2.147923e+01
min,1.000018e+06,1.000060e+05,-9.600000e+01,-4.202502e+05,0.000000e+00,-6.211620e+03,0.000000e+00,0.000000e+00,-4.233058e+05,-4.202502e+05,-4.202502e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.434385e+06,1.895170e+05,-5.500000e+01,0.000000e+00,4.500000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00
50%,1.897122e+06,2.783960e+05,-2.800000e+01,0.000000e+00,1.125000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01,0.000000e+00,0.000000e+00
75%,2.369328e+06,3.675800e+05,-1.100000e+01,8.904669e+04,1.800000e+05,0.000000e+00,6.633911e+03,6.750000e+03,8.535924e+04,8.889949e+04,8.891451e+04,0.000000e+00,3.200000e+01,0.000000e+00,0.000000e+00
max,2.843496e+06,4.562500e+05,-1.000000e+00,1.505902e+06,1.350000e+06,2.287098e+06,2.028820e+05,4.278316e+06,1.472317e+06,1.493338e+06,1.493338e+06,1.650000e+02,1.200000e+02,3.260000e+03,3.260000e+03

In [63]:
cc_balance.nunique()

SK_ID_PREV                    104307
SK_ID_CURR                    103558
MONTHS_BALANCE                    96
AMT_BALANCE                  1347904
AMT_CREDIT_LIMIT_ACTUAL          181
AMT_DRAWINGS_CURRENT          187005
AMT_INST_MIN_REGULARITY       312266
AMT_PAYMENT_TOTAL_CURRENT     182957
AMT_RECEIVABLE_PRINCIPAL     1195839
AMT_RECIVABLE                1338878
AMT_TOTAL_RECEIVABLE         1339008
CNT_DRAWINGS_CURRENT             129
CNT_INSTALMENT_MATURE_CUM        121
NAME_CONTRACT_STATUS               7
SK_DPD                           917
SK_DPD_DEF                       378
dtype: int64

In [64]:
cc_balance["SK_ID_CURR"].duplicated().sum()

3736754

In [65]:
cc_balance.drop_duplicates(subset = ["SK_ID_CURR"], inplace=True)

In [66]:
cc_balance

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,877.5,1700.325,1800.0,0.000,0.000,0.000,1,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,2250.0,60175.080,64875.555,64875.555,1,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,2250.000,2250.0,26926.425,31460.085,31460.085,0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,11795.760,11925.0,224949.285,233048.970,233048.970,1,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,11547.0,22924.890,27000.0,443044.395,453919.455,453919.455,1,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3773059,1551072,403596,-1,0.000,202500,0.0,0.000,0.0,0.000,0.000,0.000,0,0.0,Active,0,0
3787849,2339982,318916,-1,0.000,45000,0.0,0.000,0.0,0.000,0.000,0.000,0,0.0,Active,0,0
3788692,2720102,174455,-1,0.000,225000,0.0,0.000,0.0,0.000,0.000,0.000,0,0.0,Active,0,0
3802178,1897864,315041,-2,0.000,270000,0.0,0.000,0.0,0.000,0.000,0.000,0,0.0,Active,0,0
3817940,2481982,382749,-1,0.000,270000,0.0,0.000,0.0,0.000,0.000,0.000,0,0.0,Active,0,0

In [67]:
merge_3_train = merge_2_train.merge(cc_balance, how = 'left', on = "SK_ID_CURR")
merge_3_test = merge_2_test.merge(cc_balance, how = 'left', on = "SK_ID_CURR")

In [68]:
display(merge_3_train.shape)
display(merge_3_test.shape)

(307511, 92)

(48744, 91)

In [69]:
merge_3_train["SK_ID_CURR"].duplicated().sum()

0

In [70]:
merge_3_test["SK_ID_CURR"].duplicated().sum()

0

In [71]:
merge_3_train.isnull().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
FLAG_OWN_CAR                      0
FLAG_OWN_REALTY                   0
                              ...
CNT_DRAWINGS_CURRENT         220606
CNT_INSTALMENT_MATURE_CUM    224340
NAME_CONTRACT_STATUS         220606
SK_DPD                       220606
SK_DPD_DEF                   220606
Length: 92, dtype: int64

In [72]:
merge_3_test.isnull().sum()

SK_ID_CURR                       0
NAME_CONTRACT_TYPE               0
FLAG_OWN_CAR                     0
FLAG_OWN_REALTY                  0
CNT_CHILDREN                     0
                             ...
CNT_DRAWINGS_CURRENT         32091
CNT_INSTALMENT_MATURE_CUM    32490
NAME_CONTRACT_STATUS         32091
SK_DPD                       32091
SK_DPD_DEF                   32091
Length: 91, dtype: int64

In [73]:
installment.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [74]:
installment.isnull().sum()

SK_ID_PREV                   0
SK_ID_CURR                   0
NUM_INSTALMENT_VERSION       0
NUM_INSTALMENT_NUMBER        0
DAYS_INSTALMENT              0
DAYS_ENTRY_PAYMENT        2905
AMT_INSTALMENT               0
AMT_PAYMENT               2905
dtype: int64

In [75]:
installment.describe()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
count,1.360540e+07,1.360540e+07,1.360540e+07,1.360540e+07,1.360540e+07,1.360250e+07,1.360540e+07,1.360250e+07
mean,1.903365e+06,2.784449e+05,8.566373e-01,1.887090e+01,-1.042270e+03,-1.051114e+03,1.705091e+04,1.723822e+04
std,5.362029e+05,1.027183e+05,1.035216e+00,2.666407e+01,8.009463e+02,8.005859e+02,5.057025e+04,5.473578e+04
min,1.000001e+06,1.000010e+05,0.000000e+00,1.000000e+00,-2.922000e+03,-4.921000e+03,0.000000e+00,0.000000e+00
25%,1.434191e+06,1.896390e+05,0.000000e+00,4.000000e+00,-1.654000e+03,-1.662000e+03,4.226085e+03,3.398265e+03
50%,1.896520e+06,2.786850e+05,1.000000e+00,8.000000e+00,-8.180000e+02,-8.270000e+02,8.884080e+03,8.125515e+03
75%,2.369094e+06,3.675300e+05,1.000000e+00,1.900000e+01,-3.610000e+02,-3.700000e+02,1.671021e+04,1.610842e+04
max,2.843499e+06,4.562550e+05,1.780000e+02,2.770000e+02,-1.000000e+00,-1.000000e+00,3.771488e+06,3.771488e+06

In [76]:
installment.nunique()

SK_ID_PREV                997752
SK_ID_CURR                339587
NUM_INSTALMENT_VERSION        65
NUM_INSTALMENT_NUMBER        277
DAYS_INSTALMENT             2922
DAYS_ENTRY_PAYMENT          3039
AMT_INSTALMENT            902539
AMT_PAYMENT               944235
dtype: int64

In [77]:
installment.shape

(13605401, 8)

In [78]:
installment.dtypes

SK_ID_PREV                  int64
SK_ID_CURR                  int64
NUM_INSTALMENT_VERSION    float64
NUM_INSTALMENT_NUMBER       int64
DAYS_INSTALMENT           float64
DAYS_ENTRY_PAYMENT        float64
AMT_INSTALMENT            float64
AMT_PAYMENT               float64
dtype: object

In [79]:
installment["SK_ID_CURR"].duplicated().sum()

13265814

In [80]:
installment.drop_duplicates(subset = ["SK_ID_CURR"], inplace=True)

In [81]:
installment

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585
...,...,...,...,...,...,...,...,...
13558570,2631378,427056,1.0,5,-2908.0,-2912.0,6987.690,6987.690
13574118,2789075,434108,2.0,1,-823.0,-840.0,28975.770,28975.770
13578096,2108261,413433,2.0,1,-610.0,-614.0,656487.945,656487.945
13582996,2539110,434445,2.0,1,-319.0,-326.0,55493.055,55493.055
13585675,1847946,405063,0.0,24,-2543.0,NaN,0.090,NaN

In [82]:
merge_4_train = merge_3_train.merge(installment, how = "left", on = "SK_ID_CURR")
merge_4_test = merge_3_test.merge(installment, how = "left", on = "SK_ID_CURR")

In [83]:
display(merge_4_train.shape)
display(merge_4_test.shape)

(307511, 99)

(48744, 98)

In [84]:
merge_4_train["SK_ID_PREV_y"].duplicated().sum()

15867

In [85]:
merge_4_test["SK_ID_PREV_y"].duplicated().sum()

799

In [86]:
merge_4_train.drop_duplicates(subset = ["SK_ID_PREV_y"], inplace=True)
merge_4_test.drop_duplicates(subset = ["SK_ID_PREV_y"], inplace=True)

In [87]:
display(merge_4_train.shape)
display(merge_4_test.shape)

(291644, 99)

(47945, 98)

In [88]:
merge_4_train["SK_ID_PREV_y"].duplicated().sum()

0

In [89]:
merge_4_train.isnull().sum()

SK_ID_CURR               0
TARGET                   0
NAME_CONTRACT_TYPE       0
FLAG_OWN_CAR             0
FLAG_OWN_REALTY          0
                        ..
NUM_INSTALMENT_NUMBER    1
DAYS_INSTALMENT          1
DAYS_ENTRY_PAYMENT       9
AMT_INSTALMENT           1
AMT_PAYMENT              9
Length: 99, dtype: int64

In [90]:
merge_4_test.isnull().sum()

SK_ID_CURR               0
NAME_CONTRACT_TYPE       0
FLAG_OWN_CAR             0
FLAG_OWN_REALTY          0
CNT_CHILDREN             0
                        ..
NUM_INSTALMENT_NUMBER    1
DAYS_INSTALMENT          1
DAYS_ENTRY_PAYMENT       2
AMT_INSTALMENT           1
AMT_PAYMENT              2
Length: 98, dtype: int64

In [91]:
pos_cash.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [92]:
pos_cash.describe()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,SK_DPD,SK_DPD_DEF
count,1.000136e+07,1.000136e+07,1.000136e+07,9.975287e+06,9.975271e+06,1.000136e+07,1.000136e+07
mean,1.903217e+06,2.784039e+05,-3.501259e+01,1.708965e+01,1.048384e+01,1.160693e+01,6.544684e-01
std,5.358465e+05,1.027637e+05,2.606657e+01,1.199506e+01,1.110906e+01,1.327140e+02,3.276249e+01
min,1.000001e+06,1.000010e+05,-9.600000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.434405e+06,1.895500e+05,-5.400000e+01,1.000000e+01,3.000000e+00,0.000000e+00,0.000000e+00
50%,1.896565e+06,2.786540e+05,-2.800000e+01,1.200000e+01,7.000000e+00,0.000000e+00,0.000000e+00
75%,2.368963e+06,3.674290e+05,-1.300000e+01,2.400000e+01,1.400000e+01,0.000000e+00,0.000000e+00
max,2.843499e+06,4.562550e+05,-1.000000e+00,9.200000e+01,8.500000e+01,4.231000e+03,3.595000e+03

In [93]:
pos_cash.isnull().sum()

SK_ID_PREV                   0
SK_ID_CURR                   0
MONTHS_BALANCE               0
CNT_INSTALMENT           26071
CNT_INSTALMENT_FUTURE    26087
NAME_CONTRACT_STATUS         0
SK_DPD                       0
SK_DPD_DEF                   0
dtype: int64

In [94]:
pos_cash.nunique()

SK_ID_PREV               936325
SK_ID_CURR               337252
MONTHS_BALANCE               96
CNT_INSTALMENT               73
CNT_INSTALMENT_FUTURE        79
NAME_CONTRACT_STATUS          9
SK_DPD                     3400
SK_DPD_DEF                 2307
dtype: int64

In [95]:
pos_cash["NAME_CONTRACT_STATUS"].value_counts()

Active                   9151119
Completed                 744883
Signed                     87260
Demand                      7065
Returned to the store       5461
Approved                    4917
Amortized debt               636
Canceled                      15
XNA                            2
Name: NAME_CONTRACT_STATUS, dtype: int64

In [96]:
pos_cash.shape

(10001358, 8)

In [97]:
pos_cash["SK_ID_CURR"].duplicated().sum()

9664106

In [98]:
pos_cash.drop_duplicates(subset = ["SK_ID_CURR"], inplace=True)

In [99]:
final_merge_train = merge_4_train.merge(pos_cash, how = "inner", on = "SK_ID_CURR")
final_merge_test = merge_4_test.merge(pos_cash, how = "inner", on = "SK_ID_CURR")

In [100]:
display(final_merge_train.shape)
display(final_merge_test.shape)

(289011, 106)

(47710, 105)

In [101]:
display(final_merge_train["SK_ID_CURR"].duplicated().sum())
display(final_merge_test["SK_ID_CURR"].duplicated().sum())

0

0

In [102]:
display(final_merge_train["SK_ID_PREV"].duplicated().sum())
display(final_merge_test["SK_ID_PREV"].duplicated().sum())

0

0

In [103]:
display(final_merge_train["SK_DPD_y"].duplicated().sum())
display(final_merge_test["SK_DPD_y"].duplicated().sum())

288799

47626

In [104]:
final_merge_train.isnull().sum()

SK_ID_CURR                   0
TARGET                       0
NAME_CONTRACT_TYPE           0
FLAG_OWN_CAR                 0
FLAG_OWN_REALTY              0
                          ...
CNT_INSTALMENT            1225
CNT_INSTALMENT_FUTURE     1227
NAME_CONTRACT_STATUS_y       0
SK_DPD_y                     0
SK_DPD_DEF_y                 0
Length: 106, dtype: int64

In [105]:
final_merge_test.isnull().sum()

SK_ID_CURR                  0
NAME_CONTRACT_TYPE          0
FLAG_OWN_CAR                0
FLAG_OWN_REALTY             0
CNT_CHILDREN                0
                         ...
CNT_INSTALMENT            207
CNT_INSTALMENT_FUTURE     207
NAME_CONTRACT_STATUS_y      0
SK_DPD_y                    0
SK_DPD_DEF_y                0
Length: 105, dtype: int64

In [106]:
obtain_nulls(final_merge_train)

['SK_ID_BUREAU',
 'CREDIT_ACTIVE',
 'CREDIT_CURRENCY',
 'DAYS_CREDIT',
 'CREDIT_DAY_OVERDUE',
 'DAYS_CREDIT_ENDDATE',
 'CNT_CREDIT_PROLONG',
 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_OVERDUE',
 'CREDIT_TYPE',
 'DAYS_CREDIT_UPDATE',
 'MONTHS_BALANCE_x',
 'STATUS',
 'SK_ID_PREV_x',
 'MONTHS_BALANCE_y',
 'AMT_BALANCE',
 'AMT_CREDIT_LIMIT_ACTUAL',
 'AMT_DRAWINGS_CURRENT',
 'AMT_INST_MIN_REGULARITY',
 'AMT_PAYMENT_TOTAL_CURRENT',
 'AMT_RECEIVABLE_PRINCIPAL',
 'AMT_RECIVABLE',
 'AMT_TOTAL_RECEIVABLE',
 'CNT_DRAWINGS_CURRENT',
 'CNT_INSTALMENT_MATURE_CUM',
 'NAME_CONTRACT_STATUS_x',
 'SK_DPD_x',
 'SK_DPD_DEF_x']

In [107]:
obtain_nulls(final_merge_test)

['SK_ID_BUREAU',
 'CREDIT_ACTIVE',
 'CREDIT_CURRENCY',
 'DAYS_CREDIT',
 'CREDIT_DAY_OVERDUE',
 'DAYS_CREDIT_ENDDATE',
 'CNT_CREDIT_PROLONG',
 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_OVERDUE',
 'CREDIT_TYPE',
 'DAYS_CREDIT_UPDATE',
 'MONTHS_BALANCE_x',
 'STATUS',
 'SK_ID_PREV_x',
 'MONTHS_BALANCE_y',
 'AMT_BALANCE',
 'AMT_CREDIT_LIMIT_ACTUAL',
 'AMT_DRAWINGS_CURRENT',
 'AMT_INST_MIN_REGULARITY',
 'AMT_PAYMENT_TOTAL_CURRENT',
 'AMT_RECEIVABLE_PRINCIPAL',
 'AMT_RECIVABLE',
 'AMT_TOTAL_RECEIVABLE',
 'CNT_DRAWINGS_CURRENT',
 'CNT_INSTALMENT_MATURE_CUM',
 'NAME_CONTRACT_STATUS_x',
 'SK_DPD_x',
 'SK_DPD_DEF_x']

In [108]:
for col_names in final_merge_train.columns:
    print(col_names)

SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_2
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
SK_ID_BUREAU
CREDIT_ACTIVE
CREDIT_CURRENCY
DAYS_CREDIT
CREDIT_DAY_OVERDUE
DAYS_CREDIT_ENDDATE
CNT_CREDIT_PROLONG
AMT_CREDIT_SUM
AMT_CREDIT_SUM_OVERDUE
CREDIT_TYPE
DAYS_CREDIT_UPDATE
MONTHS_BALANCE_x
STATUS
SK_ID_PREV_x
MONTHS_BALANCE_y
AMT_BALANCE
AMT_CREDIT_LIMIT_ACTUAL
AMT_DRAWINGS_CURRENT
AMT_INST_MIN_REGULARITY
AMT_PAYMENT_TOTAL_CURRENT
AMT_RECEIVABLE_PRINCIPAL
AMT_RECIVABLE
AMT_TOTAL_RECEIVABLE
CNT_DRAWINGS_CURRENT
CNT_INSTALMENT_MATURE_CUM
NAME_CONTRACT_STATUS_x
SK_DPD_x
SK_DPD_DEF_x
SK_ID_PREV_y
NUM_INSTALMENT_VERSION
NUM_INSTALMENT_NUMBER
DAYS_INSTALMENT
DAYS_ENTRY_PAYMENT
AMT_INSTALMENT
AMT_PAYMENT
SK_ID_PREV
MONTHS_BALANCE
CNT_INSTALMENT
CNT_INSTALMENT_FUTURE
NAME_CONTRACT_STATUS_y
SK_DPD_y
SK_DPD_DEF_y

In [109]:
# drop identifier coulmns
columns_drop = ["SK_DPD_y", 
                'SK_DPD_DEF_y', 
                'SK_ID_PREV', 
                'SK_ID_PREV_y',
               "SK_ID_BUREAU",
               'SK_ID_PREV_x',
               'SK_DPD_x',
               'SK_DPD_DEF_x',
                'SK_ID_CURR']

In [219]:
#final_merge_train[columns_drop].isin(final_merge_test[columns_drop])

In [111]:
for col_names in final_merge_test.columns:
    print(col_names)

SK_ID_CURR
NAME_CONTRACT_TYPE
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_2
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
SK_ID_BUREAU
CREDIT_ACTIVE
CREDIT_CURRENCY
DAYS_CREDIT
CREDIT_DAY_OVERDUE
DAYS_CREDIT_ENDDATE
CNT_CREDIT_PROLONG
AMT_CREDIT_SUM
AMT_CREDIT_SUM_OVERDUE
CREDIT_TYPE
DAYS_CREDIT_UPDATE
MONTHS_BALANCE_x
STATUS
SK_ID_PREV_x
MONTHS_BALANCE_y
AMT_BALANCE
AMT_CREDIT_LIMIT_ACTUAL
AMT_DRAWINGS_CURRENT
AMT_INST_MIN_REGULARITY
AMT_PAYMENT_TOTAL_CURRENT
AMT_RECEIVABLE_PRINCIPAL
AMT_RECIVABLE
AMT_TOTAL_RECEIVABLE
CNT_DRAWINGS_CURRENT
CNT_INSTALMENT_MATURE_CUM
NAME_CONTRACT_STATUS_x
SK_DPD_x
SK_DPD_DEF_x
SK_ID_PREV_y
NUM_INSTALMENT_VERSION
NUM_INSTALMENT_NUMBER
DAYS_INSTALMENT
DAYS_ENTRY_PAYMENT
AMT_INSTALMENT
AMT_PAYMENT
SK_ID_PREV
MONTHS_BALANCE
CNT_INSTALMENT
CNT_INSTALMENT_FUTURE
NAME_CONTRACT_STATUS_y
SK_DPD_y
SK_DPD_DEF_y

In [112]:
# drop the columns that are only used for IDs
final_merge_2_train = final_merge_train.drop(columns = columns_drop)
final_merge_2_test = final_merge_test.drop(columns = columns_drop)

In [113]:
for col_names in final_merge_2_train.columns:
    print(col_names)

TARGET
NAME_CONTRACT_TYPE
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_2
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
CREDIT_ACTIVE
CREDIT_CURRENCY
DAYS_CREDIT
CREDIT_DAY_OVERDUE
DAYS_CREDIT_ENDDATE
CNT_CREDIT_PROLONG
AMT_CREDIT_SUM
AMT_CREDIT_SUM_OVERDUE
CREDIT_TYPE
DAYS_CREDIT_UPDATE
MONTHS_BALANCE_x
STATUS
MONTHS_BALANCE_y
AMT_BALANCE
AMT_CREDIT_LIMIT_ACTUAL
AMT_DRAWINGS_CURRENT
AMT_INST_MIN_REGULARITY
AMT_PAYMENT_TOTAL_CURRENT
AMT_RECEIVABLE_PRINCIPAL
AMT_RECIVABLE
AMT_TOTAL_RECEIVABLE
CNT_DRAWINGS_CURRENT
CNT_INSTALMENT_MATURE_CUM
NAME_CONTRACT_STATUS_x
NUM_INSTALMENT_VERSION
NUM_INSTALMENT_NUMBER
DAYS_INSTALMENT
DAYS_ENTRY_PAYMENT
AMT_INSTALMENT
AMT_PAYMENT
MONTHS_BALANCE
CNT_INSTALMENT
CNT_INSTALMENT_FUTURE
NAME_CONTRACT_STATUS_y

In [114]:
for col_names in final_merge_2_test.columns:
    print(col_names)

NAME_CONTRACT_TYPE
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_2
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
CREDIT_ACTIVE
CREDIT_CURRENCY
DAYS_CREDIT
CREDIT_DAY_OVERDUE
DAYS_CREDIT_ENDDATE
CNT_CREDIT_PROLONG
AMT_CREDIT_SUM
AMT_CREDIT_SUM_OVERDUE
CREDIT_TYPE
DAYS_CREDIT_UPDATE
MONTHS_BALANCE_x
STATUS
MONTHS_BALANCE_y
AMT_BALANCE
AMT_CREDIT_LIMIT_ACTUAL
AMT_DRAWINGS_CURRENT
AMT_INST_MIN_REGULARITY
AMT_PAYMENT_TOTAL_CURRENT
AMT_RECEIVABLE_PRINCIPAL
AMT_RECIVABLE
AMT_TOTAL_RECEIVABLE
CNT_DRAWINGS_CURRENT
CNT_INSTALMENT_MATURE_CUM
NAME_CONTRACT_STATUS_x
NUM_INSTALMENT_VERSION
NUM_INSTALMENT_NUMBER
DAYS_INSTALMENT
DAYS_ENTRY_PAYMENT
AMT_INSTALMENT
AMT_PAYMENT
MONTHS_BALANCE
CNT_INSTALMENT
CNT_INSTALMENT_FUTURE
NAME_CONTRACT_STATUS_y

In [115]:
final_merge_2_train.head()

,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS_y
0,1,Cash loans,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,...,1.0,16.0,-115.0,-133.0,9251.775,9251.775,-13,24.0,18.0,Active
1,0,Cash loans,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,...,1.0,2.0,-686.0,-690.0,98356.995,98356.995,-66,12.0,1.0,Active
2,0,Revolving loans,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,...,1.0,2.0,-754.0,-763.0,5357.250,5357.250,-25,4.0,2.0,Active
3,0,Cash loans,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,...,1.0,3.0,-221.0,-226.0,29027.520,29027.520,-14,5.0,0.0,Active
4,0,Cash loans,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,...,1.0,4.0,-2236.0,-2234.0,1834.290,1834.290,-3,24.0,15.0,Active

In [116]:
final_merge_2_test.head()

,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,...,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS_y
0,Cash loans,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,Working,...,1.0,1.0,-1709.0,-1715.0,3951.000,3951.000,-96,4.0,2.0,Active
1,Cash loans,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,Working,...,1.0,4.0,-616.0,-646.0,4813.200,4813.200,-21,12.0,9.0,Active
2,Cash loans,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,Working,...,0.0,5.0,-2632.0,-2644.0,7875.000,7875.000,-66,9.0,9.0,Signed
3,Cash loans,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,Working,...,0.0,43.0,-604.0,-604.0,85.455,85.455,-47,24.0,11.0,Active
4,Cash loans,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,Working,...,1.0,10.0,-517.0,-528.0,11100.600,11100.600,-26,12.0,11.0,Active

In [117]:
# replace the null values of the float and int types
def fill_nulls(data):
    for i in data.columns:
        if (data[i].dtype == "int64" or data[i].dtype == "float64"):
            data[i] = data[i].fillna(data[i].mean())
        else:
            pass
    return data

In [118]:
partially_cleaned_train = fill_nulls(final_merge_2_train)
partially_cleaned_test = fill_nulls(final_merge_2_test)

In [119]:
obtain_nulls(partially_cleaned_train)

['CREDIT_ACTIVE',
 'CREDIT_CURRENCY',
 'CREDIT_TYPE',
 'STATUS',
 'NAME_CONTRACT_STATUS_x']

In [120]:
obtain_nulls(partially_cleaned_test)

['CREDIT_ACTIVE',
 'CREDIT_CURRENCY',
 'CREDIT_TYPE',
 'STATUS',
 'NAME_CONTRACT_STATUS_x']

In [121]:
partially_cleaned_train.isnull().sum()

TARGET                    0
NAME_CONTRACT_TYPE        0
FLAG_OWN_CAR              0
FLAG_OWN_REALTY           0
CNT_CHILDREN              0
                         ..
AMT_PAYMENT               0
MONTHS_BALANCE            0
CNT_INSTALMENT            0
CNT_INSTALMENT_FUTURE     0
NAME_CONTRACT_STATUS_y    0
Length: 97, dtype: int64

In [122]:
partially_cleaned_test.isnull().sum()

NAME_CONTRACT_TYPE        0
FLAG_OWN_CAR              0
FLAG_OWN_REALTY           0
CNT_CHILDREN              0
AMT_INCOME_TOTAL          0
                         ..
AMT_PAYMENT               0
MONTHS_BALANCE            0
CNT_INSTALMENT            0
CNT_INSTALMENT_FUTURE     0
NAME_CONTRACT_STATUS_y    0
Length: 96, dtype: int64

In [123]:
partially_cleaned_train['CREDIT_ACTIVE'].isnull().sum()

47805

In [124]:
partially_cleaned_test['CREDIT_ACTIVE'].isnull().sum()

7221

In [125]:
partially_cleaned_train['CREDIT_CURRENCY'].isnull().sum()

47805

In [126]:
partially_cleaned_test['CREDIT_CURRENCY'].isnull().sum()

7221

In [127]:
partially_cleaned_train['CREDIT_TYPE'].isnull().sum()

47805

In [128]:
partially_cleaned_test['CREDIT_TYPE'].isnull().sum()

7221

In [129]:
partially_cleaned_train['STATUS'].isnull().sum()

203423

In [130]:
partially_cleaned_test['STATUS'].isnull().sum()

7248

In [131]:
partially_cleaned_train['NAME_CONTRACT_STATUS_x'].isnull().sum()

204956

In [132]:
partially_cleaned_test['NAME_CONTRACT_STATUS_x'].isnull().sum()

31333

In [133]:
display(len(partially_cleaned_train))
display(len(partially_cleaned_test))

289011

47710

In [134]:
partially_cleaned_train.drop(columns = ["STATUS", 'NAME_CONTRACT_STATUS_x', 'CREDIT_TYPE', "CREDIT_CURRENCY", "CREDIT_ACTIVE"], inplace = True)
partially_cleaned_test.drop(columns = ["STATUS", 'NAME_CONTRACT_STATUS_x', 'CREDIT_TYPE', "CREDIT_CURRENCY", "CREDIT_ACTIVE"], inplace = True)

In [135]:
partially_cleaned_train.isnull().sum()

TARGET                    0
NAME_CONTRACT_TYPE        0
FLAG_OWN_CAR              0
FLAG_OWN_REALTY           0
CNT_CHILDREN              0
                         ..
AMT_PAYMENT               0
MONTHS_BALANCE            0
CNT_INSTALMENT            0
CNT_INSTALMENT_FUTURE     0
NAME_CONTRACT_STATUS_y    0
Length: 92, dtype: int64

In [136]:
partially_cleaned_test.isnull().sum()

NAME_CONTRACT_TYPE        0
FLAG_OWN_CAR              0
FLAG_OWN_REALTY           0
CNT_CHILDREN              0
AMT_INCOME_TOTAL          0
                         ..
AMT_PAYMENT               0
MONTHS_BALANCE            0
CNT_INSTALMENT            0
CNT_INSTALMENT_FUTURE     0
NAME_CONTRACT_STATUS_y    0
Length: 91, dtype: int64

## Figure out a way to fill the null values for categorcial data. Until then drop them and see how the model performs

In [137]:
# fill in the null values categorical 
cleaned_df_train = partially_cleaned_train.dropna()
cleaned_df_test = partially_cleaned_test.dropna()

In [138]:
cleaned_df_train

,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS_y
0,1,Cash loans,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,...,1.0,16.0,-115.0,-133.0,9251.775,9251.775,-13,24.000000,18.00000,Active
1,0,Cash loans,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,...,1.0,2.0,-686.0,-690.0,98356.995,98356.995,-66,12.000000,1.00000,Active
2,0,Revolving loans,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,...,1.0,2.0,-754.0,-763.0,5357.250,5357.250,-25,4.000000,2.00000,Active
3,0,Cash loans,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,...,1.0,3.0,-221.0,-226.0,29027.520,29027.520,-14,5.000000,0.00000,Active
4,0,Cash loans,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,...,1.0,4.0,-2236.0,-2234.0,1834.290,1834.290,-3,24.000000,15.00000,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289006,0,Cash loans,N,N,0,157500.0,254700.0,27558.0,225000.0,Unaccompanied,...,1.0,6.0,-60.0,-101.0,6605.910,6605.910,-9,15.701698,10.44418,Signed
289007,0,Cash loans,N,Y,0,72000.0,269550.0,12001.5,225000.0,Unaccompanied,...,1.0,6.0,-2316.0,-2327.0,10046.880,10046.880,-76,6.000000,0.00000,Completed
289008,0,Cash loans,N,Y,0,153000.0,677664.0,29979.0,585000.0,Unaccompanied,...,1.0,4.0,-2722.0,-2743.0,3971.880,3971.880,-59,6.000000,2.00000,Active
289009,1,Cash loans,N,Y,0,171000.0,370107.0,20205.0,319500.0,Unaccompanied,...,1.0,7.0,-67.0,-78.0,19065.825,19065.825,-7,16.000000,14.00000,Active
289010,0,Cash loans,N,N,0,157500.0,675000.0,49117.5,675000.0,Unaccompanied,...,1.0,2.0,-930.0,-938.0,11090.835,11090.835,-15,24.000000,16.00000,Active

In [139]:
cleaned_df_test

,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,...,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS_y
0,Cash loans,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,Working,...,1.0,1.0,-1709.0,-1715.0,3951.000,3951.000,-96,4.0,2.0,Active
1,Cash loans,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,Working,...,1.0,4.0,-616.0,-646.0,4813.200,4813.200,-21,12.0,9.0,Active
3,Cash loans,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,Working,...,0.0,43.0,-604.0,-604.0,85.455,85.455,-47,24.0,11.0,Active
4,Cash loans,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,Working,...,1.0,10.0,-517.0,-528.0,11100.600,11100.600,-26,12.0,11.0,Active
5,Cash loans,Y,Y,0,270000.0,959688.0,34600.5,810000.0,Unaccompanied,State servant,...,0.0,3.0,-2482.0,-2495.0,4500.000,4342.500,-25,36.0,20.0,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47705,Cash loans,N,Y,0,121500.0,412560.0,17473.5,270000.0,Unaccompanied,Working,...,1.0,2.0,-623.0,-631.0,14222.430,14222.430,-21,24.0,23.0,Active
47706,Cash loans,N,N,2,157500.0,622413.0,31909.5,495000.0,Unaccompanied,Commercial associate,...,1.0,23.0,-80.0,-88.0,14571.765,14571.765,-18,24.0,17.0,Active
47707,Cash loans,Y,Y,1,202500.0,315000.0,33205.5,315000.0,Unaccompanied,Commercial associate,...,1.0,3.0,-746.0,-790.0,15761.205,15761.205,-77,8.0,3.0,Active
47708,Cash loans,N,N,0,225000.0,450000.0,25128.0,450000.0,Family,Commercial associate,...,1.0,9.0,-2032.0,-2032.0,5519.925,5519.925,-18,24.0,23.0,Active
47709,Cash loans,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,...,1.0,5.0,-587.0,-588.0,26474.625,26474.625,-17,12.0,5.0,Active

### Feature Engineering

In [140]:
# slice the data down so it will run faster
train = cleaned_df_train
test = cleaned_df_test

In [141]:
train.dtypes

TARGET                      int64
NAME_CONTRACT_TYPE         object
FLAG_OWN_CAR               object
FLAG_OWN_REALTY            object
CNT_CHILDREN                int64
                           ...
AMT_PAYMENT               float64
MONTHS_BALANCE              int64
CNT_INSTALMENT            float64
CNT_INSTALMENT_FUTURE     float64
NAME_CONTRACT_STATUS_y     object
Length: 92, dtype: object

In [142]:
train.shape

(288242, 92)

In [143]:
test.shape

(46822, 91)

In [144]:
train_objects = []
test_objects = []

In [145]:
for i in train:
    if train[i].dtypes == "object":
        train_objects.append(i)

In [146]:
for i in test:
    if test[i].dtypes == "object":
        test_objects.append(i)

In [147]:
train[train_objects].nunique()

NAME_CONTRACT_TYPE             2
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               7
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             5
NAME_HOUSING_TYPE              6
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
NAME_CONTRACT_STATUS_y         7
dtype: int64

In [148]:
test[test_objects].nunique()

NAME_CONTRACT_TYPE             2
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               5
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             5
NAME_HOUSING_TYPE              6
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
NAME_CONTRACT_STATUS_y         6
dtype: int64

In [149]:
# code_gender, name_income_type, and name_contract_status_y have different unique values.....this is causing and issue with one hot encoding

In [150]:
train["NAME_INCOME_TYPE"].value_counts()

Working                 150754
Commercial associate     64624
Pensioner                52321
State servant            20513
Unemployed                  16
Student                     12
Maternity leave              2
Name: NAME_INCOME_TYPE, dtype: int64

In [151]:
test["NAME_INCOME_TYPE"].value_counts()

Working                 23742
Commercial associate    10779
Pensioner                8891
State servant            3408
Student                     2
Name: NAME_INCOME_TYPE, dtype: int64

In [152]:
train["NAME_CONTRACT_STATUS_y"].value_counts()

Active                   263040
Completed                 22166
Signed                     2691
Returned to the store       176
Approved                    149
Demand                       19
Canceled                      1
Name: NAME_CONTRACT_STATUS_y, dtype: int64

In [153]:
test["NAME_CONTRACT_STATUS_y"].value_counts()

Active                   42491
Completed                 3863
Signed                     397
Returned to the store       37
Approved                    30
Demand                       4
Name: NAME_CONTRACT_STATUS_y, dtype: int64

In [154]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit(train[train_objects])
train_array = enc.transform(train[train_objects]).toarray() 
test_array = enc.transform(test[test_objects]).toarray()

In [155]:
train_array.shape

(288242, 108)

In [156]:
test_array.shape

(46822, 108)

In [157]:
display(train_array)
display(test_array)

array([[1., 0., 1., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 1., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 0., 0.]])

array([[1., 0., 1., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [158]:
labels = enc.get_feature_names_out()

In [159]:
labels

array(['NAME_CONTRACT_TYPE_Cash loans',
       'NAME_CONTRACT_TYPE_Revolving loans', 'FLAG_OWN_CAR_N',
       'FLAG_OWN_CAR_Y', 'FLAG_OWN_REALTY_N', 'FLAG_OWN_REALTY_Y',
       'NAME_TYPE_SUITE_Children', 'NAME_TYPE_SUITE_Family',
       'NAME_TYPE_SUITE_Group of people', 'NAME_TYPE_SUITE_Other_A',
       'NAME_TYPE_SUITE_Other_B', 'NAME_TYPE_SUITE_Spouse, partner',
       'NAME_TYPE_SUITE_Unaccompanied',
       'NAME_INCOME_TYPE_Commercial associate',
       'NAME_INCOME_TYPE_Maternity leave', 'NAME_INCOME_TYPE_Pensioner',
       'NAME_INCOME_TYPE_State servant', 'NAME_INCOME_TYPE_Student',
       'NAME_INCOME_TYPE_Unemployed', 'NAME_INCOME_TYPE_Working',
       'NAME_EDUCATION_TYPE_Academic degree',
       'NAME_EDUCATION_TYPE_Higher education',
       'NAME_EDUCATION_TYPE_Incomplete higher',
       'NAME_EDUCATION_TYPE_Lower secondary',
       'NAME_EDUCATION_TYPE_Secondary / secondary special',
       'NAME_FAMILY_STATUS_Civil marriage', 'NAME_FAMILY_STATUS_Married',
       'NAME_FAMILY_STATUS_Separated',
       'NAME_FAMILY_STATUS_Single / not married',
       'NAME_FAMILY_STATUS_Widow', 'NAME_HOUSING_TYPE_Co-op apartment',
       'NAME_HOUSING_TYPE_House / apartment',
       'NAME_HOUSING_TYPE_Municipal apartment',
       'NAME_HOUSING_TYPE_Office apartment',
       'NAME_HOUSING_TYPE_Rented apartment',
       'NAME_HOUSING_TYPE_With parents',
       'WEEKDAY_APPR_PROCESS_START_FRIDAY',
       'WEEKDAY_APPR_PROCESS_START_MONDAY',
       'WEEKDAY_APPR_PROCESS_START_SATURDAY',
       'WEEKDAY_APPR_PROCESS_START_SUNDAY',
       'WEEKDAY_APPR_PROCESS_START_THURSDAY',
       'WEEKDAY_APPR_PROCESS_START_TUESDAY',
       'WEEKDAY_APPR_PROCESS_START_WEDNESDAY',
       'ORGANIZATION_TYPE_Advertising', 'ORGANIZATION_TYPE_Agriculture',
       'ORGANIZATION_TYPE_Bank',
       'ORGANIZATION_TYPE_Business Entity Type 1',
       'ORGANIZATION_TYPE_Business Entity Type 2',
       'ORGANIZATION_TYPE_Business Entity Type 3',
       'ORGANIZATION_TYPE_Cleaning', 'ORGANIZATION_TYPE_Construction',
       'ORGANIZATION_TYPE_Culture', 'ORGANIZATION_TYPE_Electricity',
       'ORGANIZATION_TYPE_Emergency', 'ORGANIZATION_TYPE_Government',
       'ORGANIZATION_TYPE_Hotel', 'ORGANIZATION_TYPE_Housing',
       'ORGANIZATION_TYPE_Industry: type 1',
       'ORGANIZATION_TYPE_Industry: type 10',
       'ORGANIZATION_TYPE_Industry: type 11',
       'ORGANIZATION_TYPE_Industry: type 12',
       'ORGANIZATION_TYPE_Industry: type 13',
       'ORGANIZATION_TYPE_Industry: type 2',
       'ORGANIZATION_TYPE_Industry: type 3',
       'ORGANIZATION_TYPE_Industry: type 4',
       'ORGANIZATION_TYPE_Industry: type 5',
       'ORGANIZATION_TYPE_Industry: type 6',
       'ORGANIZATION_TYPE_Industry: type 7',
       'ORGANIZATION_TYPE_Industry: type 8',
       'ORGANIZATION_TYPE_Industry: type 9',
       'ORGANIZATION_TYPE_Insurance', 'ORGANIZATION_TYPE_Kindergarten',
       'ORGANIZATION_TYPE_Legal Services', 'ORGANIZATION_TYPE_Medicine',
       'ORGANIZATION_TYPE_Military', 'ORGANIZATION_TYPE_Mobile',
       'ORGANIZATION_TYPE_Other', 'ORGANIZATION_TYPE_Police',
       'ORGANIZATION_TYPE_Postal', 'ORGANIZATION_TYPE_Realtor',
       'ORGANIZATION_TYPE_Religion', 'ORGANIZATION_TYPE_Restaurant',
       'ORGANIZATION_TYPE_School', 'ORGANIZATION_TYPE_Security',
       'ORGANIZATION_TYPE_Security Ministries',
       'ORGANIZATION_TYPE_Self-employed', 'ORGANIZATION_TYPE_Services',
       'ORGANIZATION_TYPE_Telecom', 'ORGANIZATION_TYPE_Trade: type 1',
       'ORGANIZATION_TYPE_Trade: type 2',
       'ORGANIZATION_TYPE_Trade: type 3',
       'ORGANIZATION_TYPE_Trade: type 4',
       'ORGANIZATION_TYPE_Trade: type 5',
       'ORGANIZATION_TYPE_Trade: type 6',
       'ORGANIZATION_TYPE_Trade: type 7',
       'ORGANIZATION_TYPE_Transport: type 1',
       'ORGANIZATION_TYPE_Transport: type 2',
       'ORGANIZATION_TYPE_Transport: type 3',
       'ORGANIZATION_TYPE_Transport: type 4',
       'ORGANIZATION_TYPE_University', 'ORGANIZATION_TYPE_XNA',
       'NAME_CONTRACT_STATUS_y_Active', 'NAME_CONTRACT_STATUS_y_Approved',
       'NAME_CONTRACT_STATUS_y_Canceled',
       'NAME_CONTRACT_STATUS_y_Completed',
       'NAME_CONTRACT_STATUS_y_Demand',
       'NAME_CONTRACT_STATUS_y_Returned to the store',
       'NAME_CONTRACT_STATUS_y_Signed'], dtype=object)

In [160]:
ohe_train = pd.DataFrame(train_array, columns = labels)

In [161]:
ohe_test = pd.DataFrame(test_array, columns = labels)

In [162]:
display(ohe_train)
display(ohe_test)

,NAME_CONTRACT_TYPE_Cash loans,NAME_CONTRACT_TYPE_Revolving loans,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_A,...,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,NAME_CONTRACT_STATUS_y_Active,NAME_CONTRACT_STATUS_y_Approved,NAME_CONTRACT_STATUS_y_Canceled,NAME_CONTRACT_STATUS_y_Completed,NAME_CONTRACT_STATUS_y_Demand,NAME_CONTRACT_STATUS_y_Returned to the store,NAME_CONTRACT_STATUS_y_Signed
0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288237,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
288238,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
288239,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
288240,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
288241,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

,NAME_CONTRACT_TYPE_Cash loans,NAME_CONTRACT_TYPE_Revolving loans,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_A,...,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,NAME_CONTRACT_STATUS_y_Active,NAME_CONTRACT_STATUS_y_Approved,NAME_CONTRACT_STATUS_y_Canceled,NAME_CONTRACT_STATUS_y_Completed,NAME_CONTRACT_STATUS_y_Demand,NAME_CONTRACT_STATUS_y_Returned to the store,NAME_CONTRACT_STATUS_y_Signed
0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46817,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
46818,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
46819,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
46820,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
46821,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [163]:
# drop the original categories from the original dataset
train_drop_cat_columns = train.drop(columns = train_objects)
test_drop_cat_columns = test.drop(columns = test_objects)

In [164]:
# concat the encoded dataframes onto the original dataframe
new_train = pd.concat([train_drop_cat_columns, ohe_train], axis = 1)
new_test = pd.concat([test_drop_cat_columns, ohe_test], axis = 1)

In [165]:
print(train_drop_cat_columns.shape)
print(ohe_train.shape)

(288242, 81)
(288242, 108)

In [166]:
print(test_drop_cat_columns.shape)
print(ohe_test.shape)

(46822, 80)
(46822, 108)

In [167]:
display(new_train)
display(new_test)

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,NAME_CONTRACT_STATUS_y_Active,NAME_CONTRACT_STATUS_y_Approved,NAME_CONTRACT_STATUS_y_Canceled,NAME_CONTRACT_STATUS_y_Completed,NAME_CONTRACT_STATUS_y_Demand,NAME_CONTRACT_STATUS_y_Returned to the store,NAME_CONTRACT_STATUS_y_Signed
0,1.0,0.0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461.0,-637.0,-3648.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765.0,-1188.0,-1186.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046.0,-225.0,-4260.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005.0,-3039.0,-9833.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932.0,-3038.0,-4311.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
287676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
287812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
288068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
288137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,NAME_CONTRACT_STATUS_y_Active,NAME_CONTRACT_STATUS_y_Approved,NAME_CONTRACT_STATUS_y_Canceled,NAME_CONTRACT_STATUS_y_Completed,NAME_CONTRACT_STATUS_y_Demand,NAME_CONTRACT_STATUS_y_Returned to the store,NAME_CONTRACT_STATUS_y_Signed
0,0.0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241.0,-2329.0,-5170.0,-812.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064.0,-4469.0,-9118.0,-1623.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.0,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976.0,-1866.0,-2000.0,-4208.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,180000.0,625500.0,32067.0,625500.0,0.010032,-13040.0,-2191.0,-4000.0,-4262.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,270000.0,959688.0,34600.5,810000.0,0.025164,-18604.0,-12009.0,-6116.0,-2027.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
46643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
46648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
46733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
46746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [168]:
new_train.isnull().sum()

TARGET                                          768
CNT_CHILDREN                                    768
AMT_INCOME_TOTAL                                768
AMT_CREDIT                                      768
AMT_ANNUITY                                     768
                                               ...
NAME_CONTRACT_STATUS_y_Canceled                 768
NAME_CONTRACT_STATUS_y_Completed                768
NAME_CONTRACT_STATUS_y_Demand                   768
NAME_CONTRACT_STATUS_y_Returned to the store    768
NAME_CONTRACT_STATUS_y_Signed                   768
Length: 189, dtype: int64

In [169]:
new_test.isnull().sum()

CNT_CHILDREN                                    867
AMT_INCOME_TOTAL                                867
AMT_CREDIT                                      867
AMT_ANNUITY                                     867
AMT_GOODS_PRICE                                 867
                                               ...
NAME_CONTRACT_STATUS_y_Canceled                 867
NAME_CONTRACT_STATUS_y_Completed                867
NAME_CONTRACT_STATUS_y_Demand                   867
NAME_CONTRACT_STATUS_y_Returned to the store    867
NAME_CONTRACT_STATUS_y_Signed                   867
Length: 188, dtype: int64

In [170]:
final_train = new_train.dropna()
final_test = new_test.dropna()

In [171]:
display(final_train)
display(final_test)

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,NAME_CONTRACT_STATUS_y_Active,NAME_CONTRACT_STATUS_y_Approved,NAME_CONTRACT_STATUS_y_Canceled,NAME_CONTRACT_STATUS_y_Completed,NAME_CONTRACT_STATUS_y_Demand,NAME_CONTRACT_STATUS_y_Returned to the store,NAME_CONTRACT_STATUS_y_Signed
0,1.0,0.0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461.0,-637.0,-3648.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765.0,-1188.0,-1186.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046.0,-225.0,-4260.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005.0,-3039.0,-9833.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932.0,-3038.0,-4311.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288237,0.0,0.0,405000.0,679500.0,45594.0,679500.0,0.007274,-11925.0,-473.0,-2396.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
288238,0.0,2.0,135000.0,257391.0,27850.5,238500.0,0.019101,-11869.0,-318.0,-1708.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
288239,0.0,1.0,189000.0,443088.0,30105.0,382500.0,0.011703,-16309.0,-440.0,-923.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
288240,0.0,0.0,180000.0,417024.0,27094.5,360000.0,0.002134,-17792.0,-984.0,-7286.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
288241,0.0,0.0,180000.0,301896.0,27819.0,252000.0,0.031329,-10974.0,-3542.0,-1161.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,NAME_CONTRACT_STATUS_y_Active,NAME_CONTRACT_STATUS_y_Approved,NAME_CONTRACT_STATUS_y_Canceled,NAME_CONTRACT_STATUS_y_Completed,NAME_CONTRACT_STATUS_y_Demand,NAME_CONTRACT_STATUS_y_Returned to the store,NAME_CONTRACT_STATUS_y_Signed
0,0.0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241.0,-2329.0,-5170.0,-812.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064.0,-4469.0,-9118.0,-1623.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.0,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976.0,-1866.0,-2000.0,-4208.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,180000.0,625500.0,32067.0,625500.0,0.010032,-13040.0,-2191.0,-4000.0,-4262.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,270000.0,959688.0,34600.5,810000.0,0.025164,-18604.0,-12009.0,-6116.0,-2027.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46817,0.0,135000.0,211500.0,22207.5,211500.0,0.022625,-18551.0,-4284.0,-9448.0,-2090.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
46818,0.0,76500.0,225171.0,10831.5,171000.0,0.018850,-22896.0,365243.0,-4718.0,-6237.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
46819,1.0,112500.0,118512.0,8752.5,90000.0,0.006207,-10568.0,-191.0,-4639.0,-3137.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
46820,1.0,225000.0,1971072.0,68643.0,1800000.0,0.032561,-17296.0,-393.0,-7185.0,-718.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
46821,0.0,225000.0,659623.5,64390.5,607500.0,0.010276,-17073.0,-3581.0,-4990.0,-405.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [172]:
# use the train set and split into X and y variable
X = final_train.drop(columns = "TARGET")
y = final_train["TARGET"]

In [173]:
from sklearn.model_selection import train_test_split

In [174]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y, random_state = 78)

In [175]:
X.shape

(287474, 188)

In [176]:
y.shape

(287474,)

In [177]:
y

0         1.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
288237    0.0
288238    0.0
288239    0.0
288240    0.0
288241    0.0
Name: TARGET, Length: 287474, dtype: float64

In [178]:
# use the standard scaler to scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)


X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [179]:
# Use a random forest to make predictions
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [180]:
rfc_model = RandomForestClassifier(n_estimators = 1000, random_state = 78, max_depth=3, min_samples_split=4)

In [181]:
rfc_model.fit(X_train_scaled, y_train)

RandomForestClassifier(max_depth=3, min_samples_split=4, n_estimators=1000,
                       random_state=78)

In [182]:
predictions = rfc_model.predict(X_test_scaled)

In [183]:
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(cm,
                     index = ["Actual Approve", "Actual Deny"], columns=["Predicted Approve", "Predicted Deny"]
                    )
acc_score = accuracy_score(y_test, predictions)

In [184]:
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

                Predicted Approve  Predicted Deny
Actual Approve              65985               0
Actual Deny                  5884               0

Accuracy Score : 0.9181288177100001
Classification Report
              precision    recall  f1-score   support

         0.0       0.92      1.00      0.96     65985
         1.0       0.00      0.00      0.00      5884

    accuracy                           0.92     71869
   macro avg       0.46      0.50      0.48     71869
weighted avg       0.84      0.92      0.88     71869

C:\Users\Talia\anaconda3\envs\machine_learningenv\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Talia\anaconda3\envs\machine_learningenv\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Talia\anaconda3\envs\machine_learningenv\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [185]:
# this results leads me to beleive this is unblanced
# check to see the value counts of y
y.value_counts()

0.0    264010
1.0     23464
Name: TARGET, dtype: int64

In [186]:
y_train.value_counts()

0.0    198025
1.0     17580
Name: TARGET, dtype: int64

In [187]:
# use the SMOTE technique to assist in balancing the data
from imblearn.over_sampling import SMOTE

X_resampled, y_resampled = SMOTE(random_state = 78, sampling_strategy = 1).fit_resample(X_train_scaled,
                                                                                         y_train)

In [188]:
y_resampled.value_counts()

0.0    198025
1.0    198025
Name: TARGET, dtype: int64

In [189]:
rfc_model_2 = RandomForestClassifier(n_estimators = 1000, 
                                   random_state = 78, 
                                   max_depth=3, 
                                   min_samples_split=4)

In [190]:
model_2 = rfc_model_2.fit(X_resampled, y_resampled)

In [191]:
predictions_2 = model_2.predict(X_test_scaled)

In [192]:
cm_2 = confusion_matrix(y_test, predictions_2)
cm_df_2 = pd.DataFrame(cm_2,
                     index = ["Actual Approve", "Actual Deny"], columns=["Predicted Approve", "Predicted Deny"]
                    )
acc_score_2 = accuracy_score(y_test, predictions_2)

In [193]:
print("Confusion Matrix")
display(cm_df_2)
print(f"Accuracy Score : {acc_score_2}")
print("Classification Report")
print(classification_report(y_test, predictions_2))

Confusion Matrix

                Predicted Approve  Predicted Deny
Actual Approve              53321           12664
Actual Deny                  3923            1961

Accuracy Score : 0.7692050814676703
Classification Report
              precision    recall  f1-score   support

         0.0       0.93      0.81      0.87     65985
         1.0       0.13      0.33      0.19      5884

    accuracy                           0.77     71869
   macro avg       0.53      0.57      0.53     71869
weighted avg       0.87      0.77      0.81     71869

In [194]:
# Try using a different scaler to see if we get better result
from sklearn.preprocessing import MinMaxScaler

In [195]:
mm_scaler = MinMaxScaler()

X_mm_scaler = mm_scaler.fit(X_train)


X_train_mm_scaled = X_mm_scaler.transform(X_train)
X_test_mm_scaled = X_mm_scaler.transform(X_test)

In [196]:
X_mm_resampled, y_mm_resampled = SMOTE(random_state = 78, sampling_strategy = 1).fit_resample(X_train_mm_scaled,
                                                                                         y_train)

In [197]:
# Build random forest model using MinMaxSclaer and SMOTE
rfc_model_mm = RandomForestClassifier(n_estimators = 1000, 
                                   random_state = 78, 
                                   max_depth=3, 
                                   min_samples_split=4)

In [198]:
model_mm = rfc_model_mm.fit(X_mm_resampled, y_mm_resampled)

In [199]:
predictions_mm = model_mm.predict(X_test_mm_scaled)

In [200]:
cm_mm = confusion_matrix(y_test, predictions_mm)
cm_df_mm = pd.DataFrame(cm_mm,
                     index = ["Actual Approve", "Actual Deny"], columns=["Predicted Approve", "Predicted Deny"]
                    )
acc_score_mm = accuracy_score(y_test, predictions_mm)

In [201]:
# Evaluate the model
print("Confusion Matrix")
display(cm_df_mm)
print(f"Accuracy Score : {acc_score_mm}")
print("Classification Report")
print(classification_report(y_test, predictions_mm))

Confusion Matrix

                Predicted Approve  Predicted Deny
Actual Approve              53229           12756
Actual Deny                  4066            1818

Accuracy Score : 0.7659352432898746
Classification Report
              precision    recall  f1-score   support

         0.0       0.93      0.81      0.86     65985
         1.0       0.12      0.31      0.18      5884

    accuracy                           0.77     71869
   macro avg       0.53      0.56      0.52     71869
weighted avg       0.86      0.77      0.81     71869

In [206]:
from imblearn.under_sampling import RandomUnderSampler 
X_undersampled, y_undersampled = RandomUnderSampler(random_state = 78).fit_resample(X_train_mm_scaled,
                                                                                    y_train
                                                                                   )

In [207]:
X_undersampled.shape

(35160, 188)

In [208]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

In [209]:
# build k_best
k_best = SelectKBest(score_func = chi2, k = 115)

In [210]:
#fit model to minmaxscaled resampled data
fitted_k_best = k_best.fit(X_mm_resampled, y_mm_resampled)
# fit the k_best to the undersampled data
undersampled_k_best = k_best.fit(X_undersampled, y_undersampled)

# transform the data
k_best_transform_x = fitted_k_best.transform(X_mm_resampled)
k_best_transform_x_test = fitted_k_best.transform(X_test_mm_scaled)

k_best_undersample_x = undersampled_k_best.transform(X_undersampled)
k_best_undersamepl_x_test = undersampled_k_best.transform(X_test_mm_scaled)

In [211]:
# build random forest model using k_best
chi_model = rfc_model_mm.fit(k_best_transform_x, y_mm_resampled)

In [212]:
chi_predictions= model_mm.predict(k_best_transform_x_test)

In [213]:
# Evaluate the model, build a confusion matrix to help understand how well it performed
cm_mm_chi = confusion_matrix(y_test, chi_predictions)
cm_df_mm_chi = pd.DataFrame(cm_mm_chi,
                     index = ["Actual Approve", "Actual Deny"], columns=["Predicted Approve", "Predicted Deny"]
                    )
acc_score_mm_chi = accuracy_score(y_test, chi_predictions)

In [214]:
# display the results
print("Confusion Matrix")
display(cm_df_mm_chi)
print(f"Accuracy Score : {acc_score_mm_chi}")
print("Classification Report")
print(classification_report(y_test, chi_predictions))

Confusion Matrix

                Predicted Approve  Predicted Deny
Actual Approve              52628           13357
Actual Deny                  3805            2079

Accuracy Score : 0.7612044135858298
Classification Report
              precision    recall  f1-score   support

         0.0       0.93      0.80      0.86     65985
         1.0       0.13      0.35      0.20      5884

    accuracy                           0.76     71869
   macro avg       0.53      0.58      0.53     71869
weighted avg       0.87      0.76      0.81     71869

In [215]:
# build random forest model using selectkbest undersampled
undersampled_chi_model = rfc_model_mm.fit(k_best_undersample_x, y_undersampled)

In [216]:
chi_predictions_undersampled= model_mm.predict(k_best_undersamepl_x_test)

In [217]:
# evalute model by building a confusion matrix
cm_mm_chi_u = confusion_matrix(y_test, chi_predictions_undersampled)
cm_df_mm_chi_u = pd.DataFrame(cm_mm_chi_u,
                     index = ["Actual Approve", "Actual Deny"], columns=["Predicted Approve", "Predicted Deny"]
                    )
acc_score_mm_chi_u = accuracy_score(y_test, chi_predictions_undersampled)

In [218]:
# dsiplay results
print("Confusion Matrix")
display(cm_df_mm_chi_u)
print(f"Accuracy Score : {acc_score_mm_chi_u}")
print("Classification Report")
print(classification_report(y_test, chi_predictions_undersampled))

Confusion Matrix

                Predicted Approve  Predicted Deny
Actual Approve              43264           22721
Actual Deny                  2165            3719

Accuracy Score : 0.65373109407394
Classification Report
              precision    recall  f1-score   support

         0.0       0.95      0.66      0.78     65985
         1.0       0.14      0.63      0.23      5884

    accuracy                           0.65     71869
   macro avg       0.55      0.64      0.50     71869
weighted avg       0.89      0.65      0.73     71869

In [220]:
pwd

'C:\\Users\\Talia\\Justin\\Github\\Home_Credit_Risk'