In [791]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from pathlib import Path

## Import each csv file and do exploratroy analysis

In [792]:
# import csv files
app_train = pd.read_csv(Path("../Data/home_credit_default_risk/application_train.csv"), encoding='unicode_escape')
bureau_balance = pd.read_csv(Path("../Data/home_credit_default_risk/bureau_balance.csv"), encoding='unicode_escape')
bureau = pd.read_csv(Path("../Data/home_credit_default_risk/bureau.csv"), encoding='unicode_escape')
cc_balance = pd.read_csv(Path("../Data/home_credit_default_risk/credit_card_balance.csv"), encoding='unicode_escape')
home_credit = pd.read_csv(Path("../Data/home_credit_default_risk/HomeCredit_columns_description.csv"), encoding='unicode_escape')
installment = pd.read_csv(Path("../Data/home_credit_default_risk/installments_payments.csv"), encoding='unicode_escape')
pos_cash = pd.read_csv(Path("../Data/home_credit_default_risk/POS_CASH_balance.csv"), encoding='unicode_escape')
previous_app = pd.read_csv(Path("../Data/home_credit_default_risk/previous_application.csv"), encoding='unicode_escape')
app_test = pd.read_csv(Path("../Data/home_credit_default_risk/previous_application.csv"), encoding='unicode_escape')

In [793]:
def obtain_nulls(dataframe):
    null_values = []
    for i in dataframe:
        if dataframe[i].isnull().sum() > dataframe.shape[0]*.10:
            null_values.append(i)
    return null_values

In [794]:
app_nulls = obtain_nulls(app_train)
bureau_balance_nulls = obtain_nulls(bureau_balance)
bureau_nulls = obtain_nulls(bureau)
cc_balance_nulls = obtain_nulls(cc_balance)
home_credit_nulls = obtain_nulls(home_credit)
installment_nulls = obtain_nulls(installment)
pos_cash_nulls = obtain_nulls(pos_cash)
previous_app_nulls = obtain_nulls(previous_app)

In [795]:
app_train = app_train.drop(columns = app_nulls)
bureau_balance = bureau_balance.drop(columns = bureau_balance_nulls)
bureau = bureau.drop(columns = bureau_nulls)
cc_balance = cc_balance.drop(columns = cc_balance_nulls)
home_credit = home_credit.drop(columns = home_credit_nulls)
installment = installment.drop(columns = installment_nulls)
pos_cash = pos_cash.drop(columns = pos_cash_nulls)
previous_app = previous_app.drop(columns = previous_app_nulls)

app_train = app_train.loc[:3999]
bureau_balance = bureau_balance.loc[:3999]
bureau = bureau.loc[:3999]
cc_balance = cc_balance.loc[:3999]
home_credit = home_credit.loc[:3999]
installment = installment.loc[:3999]
pos_cash = pos_cash.loc[:3999]
previous_app = previous_app.loc[:3999]

In [796]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0,0,0,0,0,0

In [797]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [798]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE
0,215354,5714462,Closed,currency 1,-497,0,-153.0,0,91323.0,0.0,Consumer credit,-131
1,215354,5714463,Active,currency 1,-208,0,1075.0,0,225000.0,0.0,Credit card,-20
2,215354,5714464,Active,currency 1,-203,0,528.0,0,464323.5,0.0,Consumer credit,-16
3,215354,5714465,Active,currency 1,-203,0,NaN,0,90000.0,0.0,Credit card,-16
4,215354,5714466,Active,currency 1,-629,0,1197.0,0,2700000.0,0.0,Consumer credit,-21

In [799]:
cc_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,877.5,1700.325,1800.0,0.000,0.000,0.000,1,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,2250.0,60175.080,64875.555,64875.555,1,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,2250.000,2250.0,26926.425,31460.085,31460.085,0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,11795.760,11925.0,224949.285,233048.970,233048.970,1,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,11547.0,22924.890,27000.0,443044.395,453919.455,453919.455,1,101.0,Active,0,0

In [800]:
home_credit.head()

,Unnamed: 0,Table,Row,Description
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car

In [801]:
installment.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [802]:
pos_cash.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [803]:
previous_app.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_APPLICATION,AMT_CREDIT,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,NAME_CASH_LOAN_PURPOSE,...,CODE_REJECT_REASON,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,NAME_YIELD_GROUP,PRODUCT_COMBINATION
0,2030495,271877,Consumer loans,17145.0,17145.0,SATURDAY,15,Y,1,XAP,...,XAP,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,middle,POS mobile with interest
1,2802425,108129,Cash loans,607500.0,679671.0,THURSDAY,11,Y,1,XNA,...,XAP,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,low_action,Cash X-Sell: low
2,2523466,122040,Cash loans,112500.0,136444.5,TUESDAY,11,Y,1,XNA,...,XAP,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,high,Cash X-Sell: high
3,2819243,176158,Cash loans,450000.0,470790.0,MONDAY,7,Y,1,XNA,...,XAP,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,middle,Cash X-Sell: middle
4,1784265,202054,Cash loans,337500.0,404055.0,THURSDAY,9,Y,1,Repairs,...,HC,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,high,Cash Street: high

In [804]:
cc_balance["SK_ID_PREV"].isin(installment["SK_ID_PREV"]).sum()

3162570

In [805]:
installment["SK_ID_CURR"].isin(app_train["SK_ID_CURR"]).sum()

11591592

In [806]:
pos_cash["SK_ID_CURR"].isin(app_train["SK_ID_CURR"]).sum()

8543375

In [807]:
previous_app["SK_ID_CURR"].isin(app_train["SK_ID_CURR"]).sum()

1413701

In [808]:
cc_balance["SK_ID_CURR"].isin(app_train["SK_ID_CURR"]).sum()

3227965

In [809]:
app_train["SK_ID_CURR"].duplicated().sum()

0

In [810]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0,0,0,0,0,0

In [811]:
app_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.00000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.000007,0.003525,0.002936,0.00121,0.009928,0.000267,0.008130,0.000595,0.000507,0.000335
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.002550,0.059268,0.054110,0.03476,0.099144,0.016327,0.089798,0.024387,0.022518,0.018299
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [812]:

.shape

SyntaxError: invalid syntax (Temp/ipykernel_23340/2593240870.py, line 1)

In [813]:
app_train.isnull().sum()

SK_ID_CURR            0
TARGET                0
NAME_CONTRACT_TYPE    0
CODE_GENDER           0
FLAG_OWN_CAR          0
                     ..
FLAG_DOCUMENT_17      0
FLAG_DOCUMENT_18      0
FLAG_DOCUMENT_19      0
FLAG_DOCUMENT_20      0
FLAG_DOCUMENT_21      0
Length: 65, dtype: int64

In [814]:
app_train.nunique()

SK_ID_CURR            307511
TARGET                     2
NAME_CONTRACT_TYPE         2
CODE_GENDER                3
FLAG_OWN_CAR               2
                       ...
FLAG_DOCUMENT_17           2
FLAG_DOCUMENT_18           2
FLAG_DOCUMENT_19           2
FLAG_DOCUMENT_20           2
FLAG_DOCUMENT_21           2
Length: 65, dtype: int64

In [815]:
app_train.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
307506    False
307507    False
307508    False
307509    False
307510    False
Length: 307511, dtype: bool

In [816]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [817]:
bureau_balance.isnull().sum()

SK_ID_BUREAU      0
MONTHS_BALANCE    0
STATUS            0
dtype: int64

In [818]:
bureau_balance["SK_ID_BUREAU"].duplicated().sum()

26482530

In [819]:
bureau_balance.drop_duplicates(subset = ["SK_ID_BUREAU"], inplace=True)

In [820]:
bureau_balance.shape

(817395, 3)

In [821]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE
0,215354,5714462,Closed,currency 1,-497,0,-153.0,0,91323.0,0.0,Consumer credit,-131
1,215354,5714463,Active,currency 1,-208,0,1075.0,0,225000.0,0.0,Credit card,-20
2,215354,5714464,Active,currency 1,-203,0,528.0,0,464323.5,0.0,Consumer credit,-16
3,215354,5714465,Active,currency 1,-203,0,NaN,0,90000.0,0.0,Credit card,-16
4,215354,5714466,Active,currency 1,-629,0,1197.0,0,2700000.0,0.0,Consumer credit,-21

In [822]:
bureau.isnull().sum()

SK_ID_CURR                     0
SK_ID_BUREAU                   0
CREDIT_ACTIVE                  0
CREDIT_CURRENCY                0
DAYS_CREDIT                    0
CREDIT_DAY_OVERDUE             0
DAYS_CREDIT_ENDDATE       105553
CNT_CREDIT_PROLONG             0
AMT_CREDIT_SUM                13
AMT_CREDIT_SUM_OVERDUE         0
CREDIT_TYPE                    0
DAYS_CREDIT_UPDATE             0
dtype: int64

In [823]:
bureau["SK_ID_CURR"].duplicated().sum()

1410617

In [824]:
bureau.drop_duplicates(subset = ["SK_ID_CURR"], inplace=True)

In [826]:
bureau.dropna(inplace = True)

In [827]:
bureau.shape

(297566, 12)

In [828]:
app_train.shape

(307511, 65)

In [829]:
# merge the 3 dataframes
merge_1 = app_train.merge(bureau, how = "left", on = "SK_ID_CURR")

In [832]:
merge_1.shape

(307511, 76)

In [831]:
merge_1.isnull().sum()

SK_ID_CURR                    0
TARGET                        0
NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
                          ...
CNT_CREDIT_PROLONG        51217
AMT_CREDIT_SUM            51217
AMT_CREDIT_SUM_OVERDUE    51217
CREDIT_TYPE               51217
DAYS_CREDIT_UPDATE        51217
Length: 76, dtype: int64

In [833]:
merge_1["SK_ID_CURR"].duplicated().sum()

0

In [834]:
bureau["SK_ID_CURR"].value_counts()

215354    1
291281    1
405521    1
455138    1
140639    1
         ..
208120    1
376463    1
418928    1
329282    1
235871    1
Name: SK_ID_CURR, Length: 297566, dtype: int64

In [837]:
bureau["SK_ID_CURR"].duplicated().sum()

0

In [838]:
bureau.nunique()

SK_ID_CURR                297566
SK_ID_BUREAU              297566
CREDIT_ACTIVE                  4
CREDIT_CURRENCY                4
DAYS_CREDIT                 2923
CREDIT_DAY_OVERDUE           310
DAYS_CREDIT_ENDDATE        10077
CNT_CREDIT_PROLONG             7
AMT_CREDIT_SUM             80705
AMT_CREDIT_SUM_OVERDUE       374
CREDIT_TYPE                   12
DAYS_CREDIT_UPDATE          2902
dtype: int64

In [ ]:
asdfad

In [839]:
merge_2 = merge_1.merge(bureau_balance, how = "left", on = "SK_ID_BUREAU")

In [840]:
merge_2.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,MONTHS_BALANCE,STATUS
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,-1125.0,0.0,-1038.0,0.0,40761.0,0.0,Credit card,-1038.0,-15.0,C
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,-2586.0,0.0,-2434.0,0.0,22248.0,0.0,Consumer credit,-2131.0,NaN,NaN
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,-1326.0,0.0,-595.0,0.0,94500.0,0.0,Consumer credit,-682.0,NaN,NaN
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,-1149.0,0.0,-783.0,0.0,146250.0,0.0,Consumer credit,-783.0,NaN,NaN

In [841]:
merge_2.isnull().sum()

SK_ID_CURR                     0
TARGET                         0
NAME_CONTRACT_TYPE             0
CODE_GENDER                    0
FLAG_OWN_CAR                   0
                           ...
AMT_CREDIT_SUM_OVERDUE     51217
CREDIT_TYPE                51217
DAYS_CREDIT_UPDATE         51217
MONTHS_BALANCE            218069
STATUS                    218069
Length: 78, dtype: int64

In [715]:
# dropping the dupplicates for SKIDBUREU will cause the df to be 7 rows and not 4k, after this merge  the rows are the same length

In [716]:
merge_2.shape

(4000, 78)

In [717]:
merge_2

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,MONTHS_BALANCE,STATUS
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,104672,0,Cash loans,F,Y,Y,0,157500.0,1061599.5,31171.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,104673,0,Cash loans,M,Y,N,1,157500.0,331834.5,20295.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3997,104674,0,Cash loans,M,Y,Y,2,126000.0,679500.0,19998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3998,104675,0,Cash loans,F,Y,Y,1,157500.0,654498.0,33592.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,104676,1,Cash loans,M,Y,Y,0,180000.0,215640.0,17064.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [718]:
merge_2.isnull().sum()

SK_ID_CURR                   0
TARGET                       0
NAME_CONTRACT_TYPE           0
CODE_GENDER                  0
FLAG_OWN_CAR                 0
                          ...
AMT_CREDIT_SUM_OVERDUE    3994
CREDIT_TYPE               3994
DAYS_CREDIT_UPDATE        3994
MONTHS_BALANCE            4000
STATUS                    4000
Length: 78, dtype: int64

In [719]:

cc_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,877.5,1700.325,1800.0,0.000,0.000,0.000,1,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,2250.0,60175.080,64875.555,64875.555,1,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,2250.000,2250.0,26926.425,31460.085,31460.085,0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,11795.760,11925.0,224949.285,233048.970,233048.970,1,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,11547.0,22924.890,27000.0,443044.395,453919.455,453919.455,1,101.0,Active,0,0

In [720]:
cc_balance.shape

(4000, 16)

In [721]:
cc_balance

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,877.5,1700.325,1800.0,0.000,0.000,0.000,1,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,2250.0,60175.080,64875.555,64875.555,1,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,2250.000,2250.0,26926.425,31460.085,31460.085,0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,11795.760,11925.0,224949.285,233048.970,233048.970,1,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,11547.0,22924.890,27000.0,443044.395,453919.455,453919.455,1,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,1243014,188553,-1,0.000,157500,0.0,0.000,0.0,0.000,0.000,0.000,0,0.0,Active,0,0
3996,2835140,350290,-7,0.000,45000,0.0,0.000,0.0,0.000,0.000,0.000,0,0.0,Active,0,0
3997,2371510,169459,-3,0.000,45000,0.0,0.000,0.0,0.000,0.000,0.000,0,0.0,Active,0,0
3998,2235357,172662,-3,0.000,225000,0.0,0.000,0.0,0.000,0.000,0.000,0,0.0,Active,0,0
3999,1824220,125297,-4,0.000,45000,0.0,0.000,0.0,0.000,0.000,0.000,0,42.0,Active,0,0

In [722]:
cc_balance.isnull().sum()

SK_ID_PREV                   0
SK_ID_CURR                   0
MONTHS_BALANCE               0
AMT_BALANCE                  0
AMT_CREDIT_LIMIT_ACTUAL      0
AMT_DRAWINGS_CURRENT         0
AMT_INST_MIN_REGULARITY      0
AMT_PAYMENT_TOTAL_CURRENT    0
AMT_RECEIVABLE_PRINCIPAL     0
AMT_RECIVABLE                0
AMT_TOTAL_RECEIVABLE         0
CNT_DRAWINGS_CURRENT         0
CNT_INSTALMENT_MATURE_CUM    0
NAME_CONTRACT_STATUS         0
SK_DPD                       0
SK_DPD_DEF                   0
dtype: int64

In [723]:
cc_balance.dtypes

SK_ID_PREV                     int64
SK_ID_CURR                     int64
MONTHS_BALANCE                 int64
AMT_BALANCE                  float64
AMT_CREDIT_LIMIT_ACTUAL        int64
AMT_DRAWINGS_CURRENT         float64
AMT_INST_MIN_REGULARITY      float64
AMT_PAYMENT_TOTAL_CURRENT    float64
AMT_RECEIVABLE_PRINCIPAL     float64
AMT_RECIVABLE                float64
AMT_TOTAL_RECEIVABLE         float64
CNT_DRAWINGS_CURRENT           int64
CNT_INSTALMENT_MATURE_CUM    float64
NAME_CONTRACT_STATUS          object
SK_DPD                         int64
SK_DPD_DEF                     int64
dtype: object

In [724]:
cc_balance.describe()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF
count,4.000000e+03,4000.000000,4000.000000,4000.000000,4000.000000,4.000000e+03,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.00000
mean,1.922424e+06,279191.733750,-4.336000,97136.382184,213078.375000,1.065184e+04,4961.329751,12292.501781,93528.016369,96559.657763,96559.825804,1.454250,17.703750,5.715750,0.03175
std,5.378260e+05,103048.734223,1.974355,159317.451871,214237.474473,4.146691e+04,8003.219599,45608.566852,153849.613423,158588.632391,158588.532772,5.066145,20.861622,90.931475,1.58078
min,1.000355e+06,100048.000000,-7.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,1.449376e+06,190878.000000,-6.000000,0.000000,45000.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000
50%,1.940434e+06,280732.500000,-5.000000,0.000000,157500.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.000000,0.00000
75%,2.379562e+06,369278.500000,-3.000000,158025.791250,315000.000000,1.311975e+03,7832.981250,9718.222500,151102.721250,157155.255000,157155.255000,1.000000,26.000000,0.000000,0.00000
max,2.843336e+06,456213.000000,-1.000000,940575.195000,900000.000000,1.237500e+06,46728.540000,872061.480000,898514.910000,933656.625000,933656.625000,101.000000,116.000000,2192.000000,99.00000

In [725]:
cc_balance.nunique()

SK_ID_PREV                   4000
SK_ID_CURR                   3997
MONTHS_BALANCE                  7
AMT_BALANCE                  1752
AMT_CREDIT_LIMIT_ACTUAL        50
AMT_DRAWINGS_CURRENT          778
AMT_INST_MIN_REGULARITY      1461
AMT_PAYMENT_TOTAL_CURRENT     962
AMT_RECEIVABLE_PRINCIPAL     1678
AMT_RECIVABLE                1706
AMT_TOTAL_RECEIVABLE         1706
CNT_DRAWINGS_CURRENT           47
CNT_INSTALMENT_MATURE_CUM     110
NAME_CONTRACT_STATUS            2
SK_DPD                         22
SK_DPD_DEF                      3
dtype: int64

In [726]:
merge_3 = merge_2.merge(cc_balance, how = 'left', on = "SK_ID_CURR")
merge_3.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [727]:
merge_3.shape

(4000, 93)

In [728]:
merge_3["SK_ID_CURR"].duplicated().sum()

0

In [729]:
merge_3.isnull().sum()

SK_ID_CURR                      0
TARGET                          0
NAME_CONTRACT_TYPE              0
CODE_GENDER                     0
FLAG_OWN_CAR                    0
                             ...
CNT_DRAWINGS_CURRENT         3962
CNT_INSTALMENT_MATURE_CUM    3962
NAME_CONTRACT_STATUS         3962
SK_DPD                       3962
SK_DPD_DEF                   3962
Length: 93, dtype: int64

In [730]:
installment.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [731]:
installment.isnull().sum()

SK_ID_PREV                0
SK_ID_CURR                0
NUM_INSTALMENT_VERSION    0
NUM_INSTALMENT_NUMBER     0
DAYS_INSTALMENT           0
DAYS_ENTRY_PAYMENT        0
AMT_INSTALMENT            0
AMT_PAYMENT               0
dtype: int64

In [732]:
installment.describe()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
count,4.000000e+03,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4.000000e+03,4.000000e+03
mean,1.898938e+06,150656.608750,0.868000,19.221250,-1037.751250,-1046.354750,1.742220e+04,1.796932e+04
std,5.365249e+05,29002.283259,1.073715,27.432926,795.719757,795.351115,5.629201e+04,6.162431e+04
min,1.000300e+06,100009.000000,0.000000,1.000000,-2916.000000,-2941.000000,4.500000e-02,4.500000e-02
25%,1.430393e+06,125484.750000,0.000000,4.000000,-1645.250000,-1652.000000,4.500000e+03,3.764576e+03
50%,1.890461e+06,150479.500000,1.000000,8.000000,-820.500000,-828.500000,9.000000e+03,8.323943e+03
75%,2.368571e+06,176199.250000,1.000000,20.000000,-356.750000,-365.000000,1.672716e+04,1.613115e+04
max,2.843476e+06,199979.000000,22.000000,180.000000,-3.000000,-4.000000,2.292737e+06,2.292737e+06

In [733]:
installment.nunique()

SK_ID_PREV                3832
SK_ID_CURR                3754
NUM_INSTALMENT_VERSION      16
NUM_INSTALMENT_NUMBER      151
DAYS_INSTALMENT           1972
DAYS_ENTRY_PAYMENT        1991
AMT_INSTALMENT            3432
AMT_PAYMENT               3407
dtype: int64

In [734]:
installment.shape

(4000, 8)

In [735]:
installment.dtypes

SK_ID_PREV                  int64
SK_ID_CURR                  int64
NUM_INSTALMENT_VERSION    float64
NUM_INSTALMENT_NUMBER       int64
DAYS_INSTALMENT           float64
DAYS_ENTRY_PAYMENT        float64
AMT_INSTALMENT            float64
AMT_PAYMENT               float64
dtype: object

In [736]:
merge_4 = merge_3.merge(installment, how = "left", on = "SK_ID_CURR")
merge_4

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,SK_ID_PREV_y,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4000,104672,0,Cash loans,F,Y,Y,0,157500.0,1061599.5,31171.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4001,104673,0,Cash loans,M,Y,N,1,157500.0,331834.5,20295.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4002,104674,0,Cash loans,M,Y,Y,2,126000.0,679500.0,19998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4003,104675,0,Cash loans,F,Y,Y,1,157500.0,654498.0,33592.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,104676,1,Cash loans,M,Y,Y,0,180000.0,215640.0,17064.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [737]:
merge_4.shape

(4005, 100)

In [738]:
merge_4["SK_ID_CURR"].duplicated().sum()

5

In [739]:
merge_4.drop_duplicates(subset = ["SK_ID_CURR"], inplace = True)

In [740]:
merge_4["SK_ID_CURR"].duplicated().sum()

0

In [741]:
merge_4.isnull().sum()

SK_ID_CURR                  0
TARGET                      0
NAME_CONTRACT_TYPE          0
CODE_GENDER                 0
FLAG_OWN_CAR                0
                         ...
NUM_INSTALMENT_NUMBER    3869
DAYS_INSTALMENT          3869
DAYS_ENTRY_PAYMENT       3869
AMT_INSTALMENT           3869
AMT_PAYMENT              3869
Length: 100, dtype: int64

In [742]:
pos_cash.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [743]:
pos_cash.describe()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,SK_DPD,SK_DPD_DEF
count,4.000000e+03,4000.000000,4000.000000,3994.000000,3994.000000,4000.000000,4000.000000
mean,1.917340e+06,280589.863000,-32.184500,19.625438,10.573861,0.509750,0.065750
std,5.331489e+05,101117.268785,11.447717,9.509214,9.134396,18.410341,0.721496
min,1.000059e+06,100028.000000,-55.000000,1.000000,0.000000,0.000000,0.000000
25%,1.459942e+06,195338.750000,-40.000000,12.000000,4.000000,0.000000,0.000000
50%,1.910678e+06,278647.500000,-35.000000,24.000000,9.000000,0.000000,0.000000
75%,2.383302e+06,368227.000000,-26.000000,24.000000,13.000000,0.000000,0.000000
max,2.843470e+06,456070.000000,-1.000000,60.000000,58.000000,1105.000000,18.000000

In [744]:
pos_cash.isnull().sum()

SK_ID_PREV               0
SK_ID_CURR               0
MONTHS_BALANCE           0
CNT_INSTALMENT           6
CNT_INSTALMENT_FUTURE    6
NAME_CONTRACT_STATUS     0
SK_DPD                   0
SK_DPD_DEF               0
dtype: int64

In [745]:
pos_cash.nunique()

SK_ID_PREV               3895
SK_ID_CURR               3869
MONTHS_BALANCE             55
CNT_INSTALMENT             33
CNT_INSTALMENT_FUTURE      56
NAME_CONTRACT_STATUS        5
SK_DPD                     22
SK_DPD_DEF                 16
dtype: int64

In [746]:
pos_cash["NAME_CONTRACT_STATUS"].value_counts()

Active                   3736
Completed                 242
Signed                     18
Approved                    3
Returned to the store       1
Name: NAME_CONTRACT_STATUS, dtype: int64

In [747]:
pos_cash.shape

(4000, 8)

In [748]:
final_merge = merge_4.merge(pos_cash, how = "inner", on = "SK_DPD")

In [749]:
final_merge

,SK_ID_CURR_x,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,SK_ID_PREV,SK_ID_CURR_y,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS_y,SK_DPD_DEF_y
0,100048,0,Cash loans,F,N,Y,0,202500.0,604152.0,29196.0,...,NaN,NaN,NaN,1803195,182943,-31,48.0,45.0,Active,0
1,100048,0,Cash loans,F,N,Y,0,202500.0,604152.0,29196.0,...,NaN,NaN,NaN,1715348,367990,-33,36.0,35.0,Active,0
2,100048,0,Cash loans,F,N,Y,0,202500.0,604152.0,29196.0,...,NaN,NaN,NaN,1784872,397406,-32,12.0,9.0,Active,0
3,100048,0,Cash loans,F,N,Y,0,202500.0,604152.0,29196.0,...,NaN,NaN,NaN,1903291,269225,-35,48.0,42.0,Active,0
4,100048,0,Cash loans,F,N,Y,0,202500.0,604152.0,29196.0,...,NaN,NaN,NaN,2341044,334279,-35,36.0,35.0,Active,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137200,101505,0,Cash loans,F,N,Y,0,180000.0,639000.0,32625.0,...,NaN,NaN,NaN,2073175,406186,-28,12.0,2.0,Active,7
137201,101505,0,Cash loans,F,N,Y,0,180000.0,639000.0,32625.0,...,NaN,NaN,NaN,2095340,357821,-36,24.0,9.0,Active,0
137202,101505,0,Cash loans,F,N,Y,0,180000.0,639000.0,32625.0,...,NaN,NaN,NaN,2218071,138828,-48,13.0,7.0,Active,7
137203,101505,0,Cash loans,F,N,Y,0,180000.0,639000.0,32625.0,...,NaN,NaN,NaN,1373540,393860,-42,14.0,3.0,Active,7
137204,101505,0,Cash loans,F,N,Y,0,180000.0,639000.0,32625.0,...,NaN,NaN,NaN,2300361,118199,-28,12.0,4.0,Active,7

In [750]:
final_merge["SK_DPD"].duplicated().sum()

137203

In [751]:
final_merge["SK_ID_PREV"].duplicated().sum()

133382

In [752]:
final_merge.drop_duplicates(subset = ["SK_DPD"], inplace = True)

In [753]:
final_merge.isnull().sum()

SK_ID_CURR_x              0
TARGET                    0
NAME_CONTRACT_TYPE        0
CODE_GENDER               0
FLAG_OWN_CAR              0
                         ..
MONTHS_BALANCE            0
CNT_INSTALMENT            0
CNT_INSTALMENT_FUTURE     0
NAME_CONTRACT_STATUS_y    0
SK_DPD_DEF_y              0
Length: 107, dtype: int64

In [754]:
final_nulls = obtain_nulls(final_merge)

In [755]:
final_merge.nunique()

SK_ID_CURR_x              2
TARGET                    1
NAME_CONTRACT_TYPE        1
CODE_GENDER               1
FLAG_OWN_CAR              1
                         ..
MONTHS_BALANCE            2
CNT_INSTALMENT            2
CNT_INSTALMENT_FUTURE     2
NAME_CONTRACT_STATUS_y    1
SK_DPD_DEF_y              2
Length: 107, dtype: int64

In [756]:
final_merge

,SK_ID_CURR_x,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,SK_ID_PREV,SK_ID_CURR_y,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS_y,SK_DPD_DEF_y
0,100048,0,Cash loans,F,N,Y,0,202500.0,604152.0,29196.0,...,NaN,NaN,NaN,1803195,182943,-31,48.0,45.0,Active,0
137200,101505,0,Cash loans,F,N,Y,0,180000.0,639000.0,32625.0,...,NaN,NaN,NaN,2073175,406186,-28,12.0,2.0,Active,7

In [757]:
#drop ID columns
final_merge_clean = final_merge.drop(columns = ["SK_ID_CURR_x", "SK_ID_PREV_y", "SK_ID_PREV", 'SK_ID_CURR_y'])

In [758]:
for i in final_merge.columns:
    print(i)

SK_ID_CURR_x
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_2
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
SK_ID_BUREAU
CREDIT_ACTIVE
CREDIT_CURRENCY
DAYS_CREDIT
CREDIT_DAY_OVERDUE
DAYS_CREDIT_ENDDATE
CNT_CREDIT_PROLONG
AMT_CREDIT_SUM
AMT_CREDIT_SUM_OVERDUE
CREDIT_TYPE
DAYS_CREDIT_UPDATE
MONTHS_BALANCE_x
STATUS
SK_ID_PREV_x
MONTHS_BALANCE_y
AMT_BALANCE
AMT_CREDIT_LIMIT_ACTUAL
AMT_DRAWINGS_CURRENT
AMT_INST_MIN_REGULARITY
AMT_PAYMENT_TOTAL_CURRENT
AMT_RECEIVABLE_PRINCIPAL
AMT_RECIVABLE
AMT_TOTAL_RECEIVABLE
CNT_DRAWINGS_CURRENT
CNT_INSTALMENT_MATURE_CUM
NAME_CONTRACT_STATUS_x
SK_DPD
SK_DPD_DEF_x
SK_ID_PREV_y
NUM_INSTALMENT_VERSION
NUM_INSTALMENT_NUMBER
DAYS_INSTALMENT
DAYS_ENTRY_PAYMENT
AMT_INSTALMENT
AMT_PAYMENT
SK_ID_PREV
SK_ID_CURR_y
MONTHS_BALANCE
CNT_INSTALMENT
CNT_INSTALMENT_FUTURE
NAME_CONTRACT_STATUS_y
SK_DPD_DEF_y

In [759]:
final_merge_clean

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS_y,SK_DPD_DEF_y
0,0,Cash loans,F,N,Y,0,202500.0,604152.0,29196.0,540000.0,...,NaN,NaN,NaN,NaN,NaN,-31,48.0,45.0,Active,0
137200,0,Cash loans,F,N,Y,0,180000.0,639000.0,32625.0,639000.0,...,NaN,NaN,NaN,NaN,NaN,-28,12.0,2.0,Active,7

In [760]:
final_merge_clean.drop(columns = final_nulls, inplace = True)

KeyError: "['SK_ID_PREV_y'] not found in axis"

In [ ]:
final_merge_clean